extend layout

block content
    .container
        .row
          .div(style='margin-left:auto; margin-right:auto;')
              svg(version='1.1', id='layer_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='1200', height='600', viewbox='0 0 1200 600', style='enable-background:new 0 0 1200 600;', xml:space='preserve')
                style(type='text/css').
                  .st0{fill:#B7C077;}
                  .st1{fill:#8FA268;}
                  .st2{fill:#4D333C;}
                  .st3{fill:#61403F;}
                  .st4{fill:#2D7E66;}
                  .st5{fill:#4B9469;}
                  .st6{fill:#A46340;}
                  .st7{filter:url(#Adobe_OpacityMaskFilter);}
                  .st8{fill:#FFFFFF;}
                  .st9{mask:url(#SVGID_4_);}
                  .st10{fill:#C1BF80;}
                  .st11{fill:#D88254;}
                  .st12{filter:url(#Adobe_OpacityMaskFilter_1_);}
                  .st13{mask:url(#SVGID_3_);}
                  .st14{fill:#F4F2A3;}
                  .st15{fill:#50728C;}
                  .st16{fill:#BADA8B;}
                  .st17{fill:#7970B3;}
                  .st18{fill:#42B19D;}
                  .st19{fill:#DA813E;}
                  .st20{fill:#EBC755;}
                  .st21{fill:#E2584C;}
                  .st22{fill:#1DA2C7;}
                  .st23{fill:#188BAB;}
                  .st24{fill:#B05747;}
                  .st25{fill:#DB7C6D;}
                | &#x9;&#x9;
                rect#XMLID_619_.st0(x='0', y='2.1', width='1200', height='599.7')
                | &#x9;&#x9;
                g#XMLID_381_
                  path#XMLID_385_.st1(d='M896.3,289.6l6.5,9.6l12.7-13c0,0,0.1,0,0.1-0.1c1.7-1.7,1.7-5.2-0.1-7.8\
                  c-1.7-2.6-4.5-3.3-6.2-1.5C909,277.2,896.3,289.6,896.3,289.6z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_384_.st1(d='M898.7,293.3l16.1-15.6c-1.7-1.9-4.1-2.2-5.6-0.7c-0.3,0.3-13,12.7-13,12.7L898.7,293.3z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_383_.st1(d='M880,285.6c7.3-7.4,18.1-6.1,24.1,2.8c6,9,5,22.2-2.3,29.6c-7.3,7.4-36.9,10.1-36.9,10.1\
                  S872.7,293,880,285.6z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_382_.st1(d='M864.9,328.1c0,0,0.1,0,0.2,0c2.4-6.5,12.3-32.7,19.4-38c7.7-5.7,17.6-3.1,22.8,5.7\
                  c-0.6-2.6-1.7-5.2-3.2-7.4c-6-9-16.8-10.2-24.1-2.8C872.7,293,864.9,328.1,864.9,328.1z')
                | &#x9;&#x9;
                g#XMLID_188_
                  path#XMLID_192_.st1(d='M1122.5,410.9l9.8,14.6l19.2-19.6c0,0,0.1-0.1,0.1-0.1c2.6-2.6,2.5-7.9-0.1-11.8\
                  c-2.6-3.9-6.8-4.9-9.4-2.3C1141.8,392,1122.5,410.9,1122.5,410.9z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_191_.st1(d='M1126.2,416.3l24.4-23.7c-2.6-2.8-6.1-3.4-8.4-1.1c-0.4,0.4-19.7,19.3-19.7,19.3L1126.2,416.3\
                  z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_190_.st1(d='M1097.9,404.8c11.1-11.2,27.4-9.3,36.5,4.3c9.1,13.6,7.6,33.7-3.5,44.9\
                  c-11.1,11.2-55.8,15.2-55.8,15.2S1086.8,416,1097.9,404.8z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_189_.st1(d='M1075.1,469.2c0,0,0.1,0,0.3,0c3.6-9.8,18.6-49.5,29.3-57.5c11.7-8.7,26.7-4.7,34.5,8.7\
                  c-1-4-2.6-7.8-4.9-11.3c-9.1-13.6-25.5-15.5-36.5-4.3C1086.8,416,1075.1,469.2,1075.1,469.2z')
                | &#x9;&#x9;
                g#XMLID_1_
                  g#XMLID_200_
                    path#XMLID_204_.st1(d='M1108.9,141.9l9.8,14.6l19.2-19.6c0,0,0.1-0.1,0.1-0.1c2.6-2.6,2.5-7.9-0.1-11.8\
                    c-2.6-3.9-6.8-4.9-9.4-2.3C1128.2,123,1108.9,141.9,1108.9,141.9z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_203_.st1(d='M1112.6,147.3l24.4-23.7c-2.6-2.8-6.1-3.4-8.4-1.1c-0.4,0.4-19.7,19.3-19.7,19.3\
                    L1112.6,147.3z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_202_.st1(d='M1084.2,135.7c11.1-11.2,27.4-9.3,36.5,4.3c9.1,13.6,7.6,33.7-3.5,44.9\
                    c-11.1,11.2-55.8,15.2-55.8,15.2S1073.2,146.9,1084.2,135.7z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_201_.st1(d='M1061.5,200.1c0,0,0.1,0,0.3,0c3.6-9.8,18.6-49.5,29.3-57.5c11.7-8.7,26.7-4.7,34.5,8.7\
                    c-1-4-2.6-7.8-4.9-11.3c-9.1-13.6-25.5-15.5-36.5-4.3C1073.2,146.9,1061.5,200.1,1061.5,200.1z')
                  | &#x9;&#x9;&#x9;
                  g#tree_10_
                    path#XMLID_199_.st2(d='M1149.6,91.2h-15.4l0.1,30.7c0,0.1,0,0.1,0,0.2c0,4.1,3.3,7.4,7.5,7.4c4.1,0,7.5-3.3,7.5-7.4\
                    C1149.2,121.4,1149.6,91.2,1149.6,91.2z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_198_.st3(d='M1143.8,91.2l-0.6,38.2c3.4-0.7,6-3.7,6-7.3c0-0.6,0.4-30.9,0.4-30.9L1143.8,91.2\
                    L1143.8,91.2z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_197_.st4(d='M1169.1,71.7c0,17.6-11.6,31.9-26,31.9s-26-14.3-26-31.9s26-62.6,26-62.6\
                    S1169.1,54.1,1169.1,71.7z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_196_.st5(d='M1143.2,9.1c0,0-0.1,0.1-0.2,0.3c3.9,9.6,19.3,49.1,17.4,64.4c-2,16.6-14,28.3-27.4,27.2\
                    c3.1,1.6,6.6,2.5,10.2,2.5c14.3,0,26-14.3,26-31.9C1169.1,54.1,1143.2,9.1,1143.2,9.1z')
                | &#x9;&#x9;
                g#tree_18_
                  path#XMLID_309_.st2(d='M583.5,109.8h-19.2l0.1,38.3c0,0.1,0,0.2,0,0.3c0,5.1,4.2,9.3,9.3,9.3s9.3-4.2,9.3-9.3\
                  C583,147.6,583.5,109.8,583.5,109.8z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_308_.st3(d='M576.3,109.8l-0.8,47.7c4.3-0.8,7.5-4.6,7.5-9.1c0-0.8,0.5-38.6,0.5-38.6H576.3z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_307_.st4(d='M607.9,85.5c0,22-14.5,39.8-32.4,39.8c-17.9,0-32.4-17.8-32.4-39.8s32.4-78.1,32.4-78.1\
                  S607.9,63.6,607.9,85.5z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_306_.st5(d='M575.5,7.4c0,0-0.1,0.2-0.2,0.4c4.8,12,24,61.3,21.8,80.4c-2.5,20.7-17.5,35.3-34.2,33.9\
                  c3.9,2,8.2,3.2,12.7,3.2c17.9,0,32.4-17.8,32.4-39.8C607.9,63.6,575.5,7.4,575.5,7.4z')
                | &#x9;&#x9;
                path#XMLID_265_.st4(d='M779.4,39.6c0,10.6-11.6,19.2-26,19.2s-26-8.6-26-19.2c0-10.6,26-33.9,26-33.9\
                S779.4,29,779.4,39.6z')
                | &#x9;&#x9;
                g#tree_17_
                  path#XMLID_283_.st2(d='M850.2,82h-15.4l0.1,30.7c0,0.1,0,0.1,0,0.2c0,4.1,3.3,7.4,7.5,7.4s7.5-3.3,7.5-7.4\
                  C849.8,112.3,850.2,82,850.2,82z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_282_.st3(d='M844.4,82l-0.6,38.2c3.4-0.7,6-3.7,6-7.3c0-0.6,0.4-30.9,0.4-30.9L844.4,82L844.4,82z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_281_.st4(d='M869.7,62.6c0,17.6-11.6,31.9-26,31.9s-26-14.3-26-31.9s26-62.6,26-62.6S869.7,45,869.7,62.6z\
                  ')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_280_.st5(d='M843.8,0c0,0-0.1,0.1-0.2,0.3c3.9,9.6,19.3,49.1,17.4,64.4c-2,16.6-14,28.3-27.4,27.2\
                  c3.1,1.6,6.6,2.5,10.2,2.5c14.3,0,26-14.3,26-31.9C869.7,45,843.8,0,843.8,0z')
                | &#x9;&#x9;
                path#XMLID_182_.st1(d='M690.8,573.1c23.4-4,61.2-2,84.4,4.6c23.2,6.6,23.1,15.1-0.3,19.2c-23.4,4-116.6,1-116.6,1\
                S667.4,577.1,690.8,573.1z')
                | &#x9;&#x9;
                g#XMLID_294_
                  path#XMLID_299_.st1(d='M583.9,268.5c8.9-7.1,23.3-3.5,32.1,8.1c8.8,11.5,8.8,26.6-0.1,33.7s-44.4,1.7-44.4,1.7\
                  S575,275.6,583.9,268.5z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_298_.st4(d='M641.3,276.3c0,11.5-12.6,20.9-28.2,20.9s-28.2-9.3-28.2-20.9c0-11.5,28.2-36.7,28.2-36.7\
                  S641.3,264.8,641.3,276.3z')
                  | &#x9;&#x9;&#x9;
                  g#XMLID_295_
                    path#XMLID_297_.st5(d='M615.9,242.1c2.2,4.4,16.7,34.2,12.9,44.1c-2.1,5.6-7.3,9.4-13.8,10.9\
                    c14.7-0.7,26.4-9.7,26.4-20.8C641.3,267,623,248.8,615.9,242.1z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_296_.st5(d='M615.3,241.6c-1.4-1.3-2.2-2.1-2.2-2.1s-2.3,2-5.5,5.2C611.7,243,614.6,241.9,615.3,241.6z')
                | &#x9;&#x9;
                g#XMLID_336_
                  path#XMLID_340_.st1(d='M1045.5,338.5l13.4,15.3l26.3-20.6c0.1,0,0.1-0.1,0.2-0.1c3.5-2.7,3.5-8.3-0.1-12.3\
                  s-9.4-5.2-12.9-2.4C1071.9,318.7,1045.5,338.5,1045.5,338.5z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_339_.st1(d='M1050.5,344.2l33.4-24.8c-3.6-3-8.4-3.5-11.5-1.1c-0.5,0.4-26.9,20.2-26.9,20.2L1050.5,344.2z\
                  ')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_338_.st1(d='M1011.7,332.1c15.1-11.7,37.6-9.7,50.1,4.5c12.5,14.2,10.4,35.3-4.8,47\
                  c-15.1,11.7-76.5,16-76.5,16S996.5,343.9,1011.7,332.1z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_337_.st1(d='M980.5,399.6c0,0,0.2,0,0.5,0c4.9-10.2,25.5-51.9,40.2-60.2c16-9.1,36.6-4.9,47.3,9.1\
                  c-1.3-4.2-3.5-8.2-6.7-11.8c-12.5-14.2-34.9-16.2-50.1-4.5C996.5,343.9,980.5,399.6,980.5,399.6z')
                | &#x9;&#x9;
                g#XMLID_205_
                  path#XMLID_532_.st1(d='M449.8,266.8l13.8,20.5l27-27.6c0.1-0.1,0.1-0.1,0.2-0.2c3.6-3.7,3.6-11.1-0.1-16.6\
                  c-3.7-5.5-9.6-7-13.2-3.3C476.9,240.3,449.8,266.8,449.8,266.8z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_531_.st1(d='M454.9,274.5l34.3-33.3c-3.7-4-8.6-4.7-11.8-1.5c-0.6,0.6-27.6,27.1-27.6,27.1L454.9,274.5z')
                | &#x9;&#x9;
                path#XMLID_560_.st1(d='M385.7,341.4c10.1-8,26.3-3.9,36.3,9.1c10,13.1,9.9,30.1-0.1,38.2s-50.2,2-50.2,2\
                S375.6,349.4,385.7,341.4z')
                | &#x9;&#x9;
                g#XMLID_93_
                  path#XMLID_165_.st1(d='M855,455.2c12.1-9.6,31.5-4.7,43.5,10.9c12,15.6,11.9,36.1-0.2,45.7\
                  c-12.1,9.6-60.2,2.3-60.2,2.3S843,464.8,855,455.2z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_164_.st4(d='M932.9,465.8c0,15.6-17.1,28.3-38.3,28.3c-21.1,0-38.3-12.7-38.3-28.3\
                  c0-15.6,38.3-49.8,38.3-49.8S932.9,450.2,932.9,465.8z')
                  | &#x9;&#x9;&#x9;
                  g#XMLID_94_
                    path#XMLID_98_.st5(d='M898.4,419.4c3,5.9,22.7,46.4,17.5,59.8c-2.9,7.6-9.9,12.7-18.7,14.7\
                    c20-1,35.8-13.2,35.8-28.2C932.9,453.2,908,428.5,898.4,419.4z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_96_.st5(d='M897.7,418.8c-1.9-1.7-3-2.8-3-2.8s-3.1,2.8-7.4,7C892.8,420.6,896.8,419.1,897.7,418.8z')
                | &#x9;&#x9;
                g#XMLID_584_
                  path#XMLID_598_.st1(d='M890,78.1c8.2-6.5,21.4-3.2,29.6,7.4c8.1,10.6,8.1,24.6-0.1,31.1c-8.2,6.5-40.9,1.6-40.9,1.6\
                  S881.8,84.7,890,78.1z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_597_.st4(d='M942.9,85.3c0,10.6-11.6,19.2-26,19.2s-26-8.6-26-19.2c0-10.6,26-33.9,26-33.9\
                  S942.9,74.7,942.9,85.3z')
                  | &#x9;&#x9;&#x9;
                  g#XMLID_594_
                    path#XMLID_596_.st5(d='M919.4,53.8c2,4,15.4,31.5,11.9,40.7c-2,5.2-6.7,8.6-12.7,10c13.6-0.7,24.3-9,24.3-19.2\
                    C942.9,76.8,926,60,919.4,53.8z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_595_.st5(d='M918.9,53.4c-1.3-1.2-2.1-1.9-2.1-1.9s-2.1,1.9-5.1,4.8C915.6,54.6,918.3,53.6,918.9,53.4z')
                | &#x9;&#x9;
                g#tree_31_
                  path#XMLID_671_.st2(d='M988.5,119.5h-19.2l0.1,38.3c0,0.1,0,0.2,0,0.3c0,5.1,4.2,9.3,9.3,9.3s9.3-4.2,9.3-9.3\
                  C988,157.3,988.5,119.5,988.5,119.5z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_481_.st3(d='M981.3,119.5l-0.8,47.7c4.3-0.8,7.5-4.6,7.5-9.1c0-0.8,0.5-38.6,0.5-38.6H981.3z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_480_.st4(d='M1012.9,95.2c0,22-14.5,39.8-32.4,39.8c-17.9,0-32.4-17.8-32.4-39.8s32.4-78.1,32.4-78.1\
                  S1012.9,73.2,1012.9,95.2z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_479_.st5(d='M980.5,17.1c0,0-0.1,0.2-0.2,0.4c4.8,12,24,61.3,21.8,80.4c-2.5,20.7-17.5,35.3-34.2,33.9\
                  c3.9,2,8.2,3.2,12.7,3.2c17.9,0,32.4-17.8,32.4-39.8C1012.9,73.2,980.5,17.1,980.5,17.1z')
                | &#x9;&#x9;
                g#XMLID_321_
                  path#XMLID_325_.st1(d='M135.2,166l12.2,18.2l24-24.5c0.1-0.1,0.1-0.1,0.2-0.1c3.2-3.3,3.2-9.9-0.1-14.7\
                  c-3.3-4.9-8.5-6.2-11.8-2.9C159.2,142.4,135.2,166,135.2,166z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_324_.st1(d='M139.8,172.8l30.4-29.6c-3.3-3.5-7.7-4.2-10.5-1.3c-0.5,0.5-24.5,24.1-24.5,24.1L139.8,172.8z\
                  ')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_323_.st1(d='M104.4,158.3c13.8-14,34.2-11.6,45.6,5.4c11.4,16.9,9.4,42-4.4,56c-13.8,14-69.7,19-69.7,19\
                  S90.6,172.3,104.4,158.3z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_322_.st1(d='M76,238.7c0,0,0.2,0,0.4,0c4.5-12.2,23.2-61.8,36.6-71.8c14.6-10.8,33.3-5.9,43.1,10.8\
                  c-1.2-5-3.2-9.8-6.1-14c-11.4-16.9-31.8-19.3-45.6-5.4C90.6,172.3,76,238.7,76,238.7z')
                | &#x9;&#x9;
                g#tree_20_
                  path#XMLID_329_.st2(d='M185.6,102.4h-19.2l0.1,38.3c0,0.1,0,0.2,0,0.3c0,5.1,4.2,9.3,9.3,9.3s9.3-4.2,9.3-9.3\
                  C185.1,140.2,185.6,102.4,185.6,102.4z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_328_.st3(d='M178.4,102.4l-0.8,47.7c4.3-0.8,7.5-4.6,7.5-9.1c0-0.8,0.5-38.6,0.5-38.6H178.4z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_327_.st4(d='M210,78.1c0,22-14.5,39.8-32.4,39.8s-32.4-17.8-32.4-39.8S177.6,0,177.6,0S210,56.1,210,78.1z\
                  ')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_326_.st5(d='M177.6,0c0,0-0.1,0.2-0.2,0.4c4.8,12,24,61.3,21.8,80.4c-2.5,20.7-17.5,35.3-34.2,33.9\
                  c3.9,2,8.2,3.2,12.7,3.2c17.9,0,32.4-17.8,32.4-39.8C210,56.1,177.6,0,177.6,0z')
                | &#x9;&#x9;
                g#XMLID_537_
                  g#tree_40_
                    path#XMLID_555_.st2(d='M163.5,196h-19.2l0.1,38.3c0,0.1,0,0.2,0,0.3c0,5.1,4.2,9.3,9.3,9.3s9.3-4.2,9.3-9.3\
                    C163,233.8,163.5,196,163.5,196z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_554_.st3(d='M156.3,196l-0.8,47.7c4.3-0.8,7.5-4.6,7.5-9.1c0-0.8,0.5-38.6,0.5-38.6H156.3z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_553_.st4(d='M187.9,171.7c0,22-14.5,39.8-32.4,39.8s-32.4-17.8-32.4-39.8s32.4-78.1,32.4-78.1\
                    S187.9,149.7,187.9,171.7z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_552_.st5(d='M155.5,93.6c0,0-0.1,0.2-0.2,0.4c4.8,12,24,61.3,21.8,80.4c-2.5,20.7-17.5,35.3-34.2,33.9\
                    c3.9,2,8.2,3.2,12.7,3.2c17.9,0,32.4-17.8,32.4-39.8C187.9,149.7,155.5,93.6,155.5,93.6z')
                  | &#x9;&#x9;&#x9;
                  g#XMLID_547_
                    path#XMLID_551_.st1(d='M113.4,258.2l12.2,18.2l24-24.5c0.1-0.1,0.1-0.1,0.2-0.1c3.2-3.3,3.2-9.9-0.1-14.7\
                    s-8.5-6.2-11.8-2.9C137.5,234.6,113.4,258.2,113.4,258.2z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_550_.st1(d='M118,265l30.4-29.6c-3.3-3.5-7.7-4.2-10.5-1.3c-0.5,0.5-24.5,24.1-24.5,24.1L118,265z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_549_.st1(d='M82.6,250.6c13.8-14,34.2-11.6,45.6,5.4c11.4,16.9,9.4,42-4.4,56c-13.8,14-69.7,19-69.7,19\
                    S68.8,264.6,82.6,250.6z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_548_.st1(d='M54.2,331c0,0,0.2,0,0.4,0c4.5-12.2,23.2-61.8,36.6-71.8c14.6-10.8,33.3-5.9,43.1,10.8\
                    c-1.2-5-3.2-9.8-6.1-14c-11.4-16.9-31.8-19.3-45.6-5.4C68.8,264.6,54.2,331,54.2,331z')
                | &#x9;&#x9;
                g#XMLID_463_
                  path#XMLID_467_.st1(d='M176.2,434.6l12.7,16.9l25-22.7c0.1,0,0.1-0.1,0.2-0.1c3.4-3,3.3-9.1-0.1-13.7\
                  c-3.4-4.5-8.9-5.7-12.2-2.7C201.2,412.7,176.2,434.6,176.2,434.6z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_466_.st1(d='M181,441l31.7-27.4c-3.4-3.3-8-3.9-10.9-1.2c-0.5,0.5-25.6,22.3-25.6,22.3L181,441z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_465_.st1(d='M144.1,427.5c14.4-13,35.7-10.8,47.5,5c11.9,15.7,9.8,39-4.5,52c-14.4,13-72.6,17.7-72.6,17.7\
                  S129.7,440.5,144.1,427.5z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_464_.st1(d='M114.5,502.1c0,0,0.2,0,0.4,0c4.7-11.3,24.2-57.3,38.2-66.6c15.2-10.1,34.7-5.5,44.9,10.1\
                  c-1.3-4.6-3.4-9.1-6.3-13c-11.9-15.7-33.1-18-47.5-5C129.7,440.5,114.5,502.1,114.5,502.1z')
                | &#x9;&#x9;
                path#XMLID_268_.st1(d='M829.1,223.1c9.9-7.9,26-3.9,35.8,9c9.9,12.9,9.8,29.8-0.1,37.7c-9.9,7.9-49.6,1.9-49.6,1.9\
                S819.2,231,829.1,223.1z')
                | &#x9;&#x9;
                path#XMLID_565_.st1(d='M1078.7,365.1c8.2-6.5,21.4-3.2,29.6,7.4c8.1,10.6,8.1,24.6-0.1,31.1\
                c-8.2,6.5-40.9,1.6-40.9,1.6S1070.5,371.6,1078.7,365.1z')
                | &#x9;&#x9;
                g#XMLID_538_
                  path#XMLID_542_.st1(d='M243.3,240.7l16.8,25l33-33.7c0.1-0.1,0.2-0.1,0.2-0.2c4.4-4.5,4.4-13.5-0.1-20.2\
                  c-4.5-6.7-11.7-8.5-16.1-4C276.3,208.3,243.3,240.7,243.3,240.7z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_541_.st1(d='M249.6,250.1l41.8-40.6c-4.5-4.8-10.5-5.8-14.4-1.8c-0.7,0.7-33.7,33.1-33.7,33.1L249.6,250.1\
                  z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_540_.st1(d='M201,230.2c19-19.2,47-15.9,62.7,7.4c15.7,23.3,13,57.7-6,76.9c-19,19.2-95.7,26.1-95.7,26.1\
                  S182,249.4,201,230.2z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_539_.st1(d='M161.9,340.7c0,0,0.2,0,0.6-0.1c6.1-16.8,31.9-84.9,50.3-98.6c20-14.9,45.8-8.1,59.2,14.9\
                  c-1.6-6.9-4.4-13.4-8.4-19.3C248,214.3,220,211,201,230.2C182,249.4,161.9,340.7,161.9,340.7z')
                | &#x9;&#x9;
                g#XMLID_417_
                  g#tree_28_
                    path#XMLID_426_.st2(d='M115.5,147.1H96.3l0.1,38.3c0,0.1,0,0.2,0,0.3c0,5.1,4.2,9.3,9.3,9.3s9.3-4.2,9.3-9.3\
                    C115,184.9,115.5,147.1,115.5,147.1z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_425_.st3(d='M108.3,147.1l-0.8,47.7c4.3-0.8,7.5-4.6,7.5-9.1c0-0.8,0.5-38.6,0.5-38.6H108.3z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_424_.st4(d='M139.9,122.8c0,22-14.5,39.8-32.4,39.8s-32.4-17.8-32.4-39.8s32.4-78.1,32.4-78.1\
                    S139.9,100.8,139.9,122.8z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_423_.st5(d='M107.5,44.7c0,0-0.1,0.2-0.2,0.4c4.8,12,24,61.3,21.8,80.4c-2.5,20.7-17.5,35.3-34.2,33.9\
                    c3.9,2,8.2,3.2,12.7,3.2c17.9,0,32.4-17.8,32.4-39.8C139.9,100.8,107.5,44.7,107.5,44.7z')
                  | &#x9;&#x9;&#x9;
                  g#XMLID_418_
                    path#XMLID_422_.st1(d='M65.4,209.3l12.2,18.2l24-24.5c0.1-0.1,0.1-0.1,0.2-0.1c3.2-3.3,3.2-9.9-0.1-14.7\
                    c-3.3-4.9-8.5-6.2-11.8-2.9C89.5,185.7,65.4,209.3,65.4,209.3z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_421_.st1(d='M70,216.1l30.4-29.6c-3.3-3.5-7.7-4.2-10.5-1.3c-0.5,0.5-24.5,24.1-24.5,24.1L70,216.1z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_420_.st1(d='M34.6,201.6c13.8-14,34.2-11.6,45.6,5.4c11.4,16.9,9.4,42-4.4,56c-13.8,14-69.7,19-69.7,19\
                    S20.8,215.6,34.6,201.6z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_419_.st1(d='M6.2,282c0,0,0.2,0,0.4,0c4.5-12.2,23.2-61.8,36.6-71.8c14.6-10.8,33.3-5.9,43.1,10.8\
                    c-1.2-5-3.2-9.8-6.1-14c-11.4-16.9-31.8-19.3-45.6-5.4C20.8,215.6,6.2,282,6.2,282z')
                | &#x9;&#x9;
                g#XMLID_369_
                  path#XMLID_373_.st1(d='M1095.9,269.3l12.2,18.2l24-24.5c0.1-0.1,0.1-0.1,0.2-0.1c3.2-3.3,3.2-9.9-0.1-14.7\
                  c-3.3-4.9-8.5-6.2-11.8-2.9C1120,245.7,1095.9,269.3,1095.9,269.3z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_372_.st1(d='M1100.5,276.1l30.4-29.6c-3.3-3.5-7.7-4.2-10.5-1.3c-0.5,0.5-24.5,24.1-24.5,24.1\
                  L1100.5,276.1z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_371_.st1(d='M1065.1,261.6c13.8-14,34.2-11.6,45.6,5.4c11.4,16.9,9.4,42-4.4,56c-13.8,14-69.7,19-69.7,19\
                  S1051.3,275.6,1065.1,261.6z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_370_.st1(d='M1036.7,342c0,0,0.2,0,0.4,0c4.5-12.2,23.2-61.8,36.6-71.8c14.6-10.8,33.3-5.9,43.1,10.8\
                  c-1.2-5-3.2-9.8-6.1-14c-11.4-16.9-31.8-19.3-45.6-5.4C1051.3,275.6,1036.7,342,1036.7,342z')
                | &#x9;&#x9;
                g#XMLID_364_
                  path#XMLID_368_.st1(d='M171.8,576.3l11.1,4.2l21.7-5.6c0,0,0.1,0,0.2,0c2.9-0.8,2.9-2.3-0.1-3.4\
                  c-3-1.1-7.7-1.4-10.6-0.7C193.6,570.9,171.8,576.3,171.8,576.3z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_367_.st1(d='M176,577.9l27.6-6.8c-2.9-0.8-6.9-1-9.5-0.3c-0.4,0.1-22.2,5.5-22.2,5.5L176,577.9z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_366_.st1(d='M143.9,574.6c12.5-3.2,31-2.7,41.3,1.2c10.3,3.9,8.6,9.7-4,12.9c-12.5,3.2-63.1,4.4-63.1,4.4\
                  S131.4,577.8,143.9,574.6z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_365_.st1(d='M118.2,593.1c0,0,0.2,0,0.4,0c4-2.8,21-14.2,33.2-16.5c13.2-2.5,30.2-1.4,39,2.5\
                  c-1.1-1.1-2.9-2.3-5.5-3.2c-10.3-3.9-28.8-4.5-41.3-1.2C131.4,577.8,118.2,593.1,118.2,593.1z')
                | &#x9;&#x9;
                g#XMLID_252_
                  path#XMLID_256_.st1(d='M61.9,327.8L74.1,346l24-24.5c0.1-0.1,0.1-0.1,0.2-0.1c3.2-3.3,3.2-9.9-0.1-14.7\
                  s-8.5-6.2-11.8-2.9C85.9,304.2,61.9,327.8,61.9,327.8z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_255_.st1(d='M66.5,334.6l30.4-29.6c-3.3-3.5-7.7-4.2-10.5-1.3c-0.5,0.5-24.5,24.1-24.5,24.1L66.5,334.6z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_254_.st1(d='M31.1,320.2c13.8-14,34.2-11.6,45.6,5.4c11.4,16.9,9.4,42-4.4,56c-13.8,14-69.7,19-69.7,19\
                  S17.3,334.2,31.1,320.2z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_253_.st1(d='M2.6,400.6c0,0,0.2,0,0.4,0c4.5-12.2,23.2-61.8,36.6-71.8c14.6-10.8,33.3-5.9,43.1,10.8\
                  c-1.2-5-3.2-9.8-6.1-14c-11.4-16.9-31.8-19.3-45.6-5.4C17.3,334.2,2.6,400.6,2.6,400.6z')
                | &#x9;&#x9;
                g#XMLID_226_
                  path#XMLID_230_.st1(d='M1123.5,494.6l9.8,14.6l19.2-19.6c0,0,0.1-0.1,0.1-0.1c2.6-2.6,2.5-7.9-0.1-11.8\
                  c-2.6-3.9-6.8-4.9-9.4-2.3C1142.7,475.7,1123.5,494.6,1123.5,494.6z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_229_.st1(d='M1127.2,500.1l24.4-23.7c-2.6-2.8-6.1-3.4-8.4-1.1c-0.4,0.4-19.7,19.3-19.7,19.3L1127.2,500.1\
                  z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_228_.st1(d='M1098.8,488.5c11.1-11.2,27.4-9.3,36.5,4.3c9.1,13.6,7.6,33.7-3.5,44.9\
                  c-11.1,11.2-55.8,15.2-55.8,15.2S1087.8,499.7,1098.8,488.5z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_227_.st1(d='M1076,552.9c0,0,0.1,0,0.3,0c3.6-9.8,18.6-49.5,29.3-57.5c11.7-8.7,26.7-4.7,34.5,8.7\
                  c-1-4-2.6-7.8-4.9-11.3c-9.1-13.6-25.5-15.5-36.5-4.3C1087.8,499.7,1076,552.9,1076,552.9z')
                | &#x9;&#x9;
                g#XMLID_670_
                  g#XMLID_122_
                    path#XMLID_51_.st6(d='M280,500.9c0,0-78.8,1-93.6-35.5s47.1-32.3,47.1-32.3l-0.3,0c21.8-0.7,56.8-6.5,62.9-16.8\
                    c3.1-5.3-2.1-14-15.7-25.8c-64.3-55.5-84-95.7-60.3-122.6c21.5-24.5,75.6-33.2,160.8-25.9c76,6.5,139.4,25.6,193.7,58.5\
                    c44.2,26.8,75.9,58.4,112.7,94.9c12.3,12.2,25,24.9,38.7,37.8c40.6,38.3,95.4,67.2,143,75.2c33.8,5.7,63,0.4,87-15.6\
                    c9.6-6.5,29.7-19.9-33-73.8c-50.2-43.1-135.7-96.9-226.3-153.8c-26.3-16.5-53.6-33.6-80.7-51C457,112.8,525.2,69.9,549.8,59.1\
                    c71.3-31,228.3-10.8,317,40.8c110.9,64.5,183.4,111.6,186.5,113.6c25.4,16.5,27.1,37.1,3.8,45.9c-23.3,8.8-62.6,2.6-88-14l0,0\
                    c-0.7-0.5-72.1-46.9-178.9-108.9c-38.2-22.2-118.9-30.3-144.7-19c-6.7,2.9-8.3,6.6-5.6,12.8c3.1,7.1,14.8,23.1,58.9,51.3\
                    c26.6,17,53.5,33.9,79.6,50.3c95.6,60,185.8,116.8,243.8,166.5c34.5,29.6,55.5,55,64.3,77.6c10.9,28,2.9,51.3-23.9,69.3\
                    c-46,30.9-113.7,40.7-190.6,27.8c-91.1-15.4-184.4-61.2-249.4-122.7c-14.7-13.9-27.9-27-40.7-39.7c-70.5-70.2-99-94.8-178.2-101.5\
                    c-47.5-4.1-64.8,0-67.5,3.1c-3.7,4.3,1.3,21.3,43.8,58c47.5,41.1,45.9,69,36.1,85.2C391,496.9,291.3,500.6,280,500.9z')
                  | &#x9;&#x9;&#x9;
                  g#XMLID_669_
                    g#XMLID_668_
                      g#XMLID_124_
                        path#XMLID_52_.st1(d='M260.3,506.4c0,0-72.5,1.9-92.8-33.3s46.3-34.5,46.3-34.5l-0.3,0\
                        c21.8-0.7,56.8-6.5,62.9-16.8c3.1-5.4-2.2-14-15.7-25.8c-64.3-55.5-84-95.7-60.3-122.6c21.5-24.5,75.6-33.2,160.8-25.9\
                        c76,6.5,139.4,25.6,193.7,58.5c44.2,26.8,75.9,58.4,112.7,94.9c12.3,12.2,25,24.9,38.7,37.8c40.6,38.3,95.4,67.2,143,75.2\
                        c33.8,5.7,63,0.4,87-15.6c29.7-19.9-12.7-56.3-33-73.8c-50.2-43.1-135.7-96.9-226.3-153.8c-26.3-16.5-53.6-33.7-80.7-51\
                        c-158.9-101.5-90.7-144.4-66-155.1c71.3-31,228.3-10.8,317,40.7c110.9,64.5,183.4,111.6,186.5,113.6\
                        c25.4,16.5,27.1,37.1,3.8,45.9c-23.3,8.8-62.7,2.6-88-14l0,0c-0.7-0.5-72.2-46.9-178.9-108.9c-32.6-18.9-114.4-32.2-144.7-19\
                        c-6.7,2.9-8.3,6.6-5.6,12.8c3.1,7.1,14.8,23.1,58.9,51.3c26.6,17,53.5,33.9,79.6,50.3c95.6,60,185.8,116.8,243.8,166.6\
                        c34.5,29.6,55.5,55,64.3,77.6c10.9,28,2.9,51.4-23.9,69.3c-46,30.9-113.7,40.7-190.6,27.8c-10.3-1.7-20.7-3.9-31.1-6.4\
                        c-80.9-19.6-160.7-61.8-218.4-116.3c-14.7-13.9-27.9-27-40.7-39.7c-70.5-70.2-99-94.8-178.2-101.5c-47.5-4.1-64.8,0-67.5,3.1\
                        c-3.7,4.3,1.3,21.3,43.8,58c47.5,41.1,45.9,69,36.1,85.2C371.3,502.4,271.6,506.1,260.3,506.4z')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;
                      defs
                        filter#Adobe_OpacityMaskFilter(filterunits='userSpaceOnUse', x='183.4', y='44.5', width='907.8', height='534.1')
                          fecolormatrix(type='matrix', values='1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 1 0')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;
                      mask#SVGID_4_(maskunits='userSpaceOnUse', x='183.4', y='44.5', width='907.8', height='534.1')
                        g#XMLID_102_.st7
                          g#XMLID_103_
                            g#XMLID_118_
                              polygon#XMLID_49_.st8(points='998.9,280.4 957.2,245.7 906,213.9 917.3,199 1003.1,173.1 1065.6,211.8 \
                              1116.4,254.2 							')
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            g#XMLID_106_
                              path#XMLID_107_.st8(d='M845.6,577.9l0.3-22.8L829,495.2l62.5,7.9l44.8-7.7l70.3,62.9l10.2,25.9l-66,0.2\
                              L845.6,577.9z M286.2,410.2l-16.5-19l-1.1-1L225.6,351l15.6-14.1l106.7-8l41.9,38.1l45.1,37.6L286.2,410.2z M689.2,516\
                              l-43.7-36.4l-49.6-34.8l19-17.8l87.6-16.8l55.4,38.9l29.5,23.2l-80.8,25.2L689.2,516z M957.1,474.7l-32.6-49.2l9.5-12l130,3\
                              l50.6,81.5L957.1,474.7z M542.3,380.7l-37.5-30.5l-1.5-1.2l-34.4-22.2l8.7-14.3l89.7-31.3l47.5,36.7l50.8,35.7l-112.2,13.7\
                              L542.3,380.7z M347.6,319.3l-18.2-18.7l-98.2-60.8l70.7-7.5L378,232l52.8,67.9l-2.2,13.6l-64.6,0.2L347.6,319.3z\
                              M875.2,386.1l-59.4-36.8l-2.3-1.6l-52.4-36.9l8.4-13.4l98.2-21.2l50.2,35.3l54.4,33.7l-90.1,27.4L875.2,386.1z M695.6,268.5\
                              l-62.7-35.7l-52.4-31.1l14.7-15.4l96-19.6l37.9,24.7l56.7,32.2L702.4,255L695.6,268.5z M652.9,140.6l-132-31.8l-22.2,8.7\
                              l33.7-60.9l1.5-0.7l21.6-21.3L678,100l-8.5,15.3l-15,7.6L652.9,140.6z M841.5,169.8l-95.9-44.2l6.6-16.5l46.6-53.4\
                              l124.9,64.8l-76.4,35.7L841.5,169.8z')
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            g#XMLID_104_
                              polygon#XMLID_38_.st8(points='224.1,511.9 156.4,431.2 232.1,425.1 262.3,422.4 342.3,481.7 350.2,503 \
                              281.8,507.3 							')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;
                      g#XMLID_120_.st9
                        path#XMLID_50_.st10(d='M280,500.9c0,0-72.5,1.9-92.8-33.3s46.3-34.5,46.3-34.5l-0.3,0\
                        c21.8-0.7,56.8-6.5,62.9-16.8c3.1-5.4-2.2-14-15.7-25.8c-64.3-55.5-84-95.7-60.3-122.6c21.5-24.5,75.6-33.2,160.8-25.9\
                        c76,6.5,139.4,25.6,193.7,58.5c44.2,26.8,75.9,58.4,112.7,94.9c12.3,12.2,25,24.9,38.7,37.8c40.6,38.3,95.4,67.2,143,75.2\
                        c33.8,5.7,63,0.4,87-15.6c29.7-19.9-12.7-56.3-33-73.8c-50.2-43.1-135.7-96.9-226.3-153.8c-26.3-16.5-53.6-33.7-80.7-51\
                        C457,112.8,525.2,69.9,549.8,59.2c71.3-31,228.3-10.8,317,40.7c110.9,64.5,183.4,111.6,186.5,113.6\
                        c25.4,16.5,27.1,37.1,3.8,45.9c-23.3,8.8-62.7,2.6-88-14l0,0c-0.7-0.5-72.2-46.9-178.9-108.9c-32.6-18.9-114.4-32.2-144.7-19\
                        c-6.7,2.9-8.3,6.6-5.6,12.8c3.1,7.1,14.8,23.1,58.9,51.3c26.6,17,53.5,33.9,79.6,50.3c95.6,60,185.8,116.8,243.8,166.6\
                        c34.5,29.6,55.5,55,64.3,77.6c10.9,28,2.9,51.4-23.9,69.3c-46,30.9-113.7,40.7-190.6,27.8c-10.3-1.7-20.7-3.9-31.1-6.4\
                        C760,547,680.2,504.8,622.5,450.2c-14.7-13.9-27.9-27-40.7-39.7c-70.5-70.2-99-94.8-178.2-101.5c-47.5-4.1-64.8,0-67.5,3.1\
                        c-3.7,4.3,1.3,21.3,43.8,58c47.5,41.1,45.9,69,36.1,85.2C391,496.9,291.3,500.6,280,500.9z')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;
                      g#XMLID_77_
                        g#XMLID_99_
                          path#XMLID_37_.st11(d='M282.9,488.7c0,0-78.8,1-93.6-35.5s47.1-32.3,47.1-32.3l-0.3,0\
                          c21.8-0.7,56.8-6.5,62.9-16.8c3.1-5.3-2.1-14-15.7-25.8c-64.3-55.5-84-95.7-60.3-122.6c21.5-24.5,75.6-33.2,160.8-25.9\
                          c76,6.5,139.4,25.6,193.7,58.5c44.2,26.8,75.9,58.4,112.7,94.9c12.3,12.2,25,24.9,38.7,37.8c40.6,38.3,95.4,67.2,143,75.2\
                          c33.8,5.7,63,0.4,87-15.6c9.6-6.5,29.7-19.9-33-73.8C875.6,363.7,790,310,699.5,253.1c-26.3-16.5-53.6-33.6-80.7-51\
                          C459.9,100.6,528.1,57.7,552.8,47c71.3-31,228.3-10.8,317,40.8c110.9,64.5,183.4,111.6,186.5,113.6\
                          c25.4,16.5,27.1,37.1,3.8,45.9c-23.3,8.8-62.6,2.6-88-14l0,0c-0.7-0.5-72.1-46.9-178.9-108.9c-38.2-22.2-118.9-30.3-144.7-19\
                          c-6.7,2.9-8.3,6.6-5.6,12.8c3.1,7.1,14.8,23.1,58.9,51.3c26.6,17,53.5,33.9,79.6,50.3c95.6,60,185.8,116.8,243.8,166.5\
                          c34.5,29.6,55.5,55,64.3,77.6c10.9,28,2.9,51.3-23.9,69.3c-46,30.9-113.7,40.7-190.6,27.8c-91.1-15.4-184.4-61.2-249.4-122.7\
                          c-14.7-13.9-27.9-27-40.7-39.7c-70.5-70.2-99-94.8-178.2-101.5c-47.5-4.1-64.8,0-67.5,3.1c-3.7,4.3,1.3,21.3,43.8,58\
                          c47.5,41.1,45.9,69,36.1,85.2C394,484.7,294.2,488.4,282.9,488.7z')
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        defs
                          filter#Adobe_OpacityMaskFilter_1_(filterunits='userSpaceOnUse', x='186.5', y='32.3', width='907.6', height='534.1')
                            fecolormatrix(type='matrix', values='1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 1 0')
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        mask#SVGID_3_(maskunits='userSpaceOnUse', x='186.5', y='32.3', width='907.6', height='534.1')
                          g#XMLID_79_.st12
                            g#XMLID_80_
                              g#XMLID_95_
                                polygon#XMLID_35_.st8(points='1001.7,269 960,234.2 908.8,202.5 1005.9,161.7 1068.4,200.4 1119.2,242.7 \
                                ')
                              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                              g#XMLID_83_
                                path#XMLID_84_.st8(d='M848.4,566.4l-16.7-82.7l62.5,7.9l44.8-7.7l80.5,88.8l-66,0.2L848.4,566.4z M289,398.7\
                                l-16.5-19l-1.1-1l-43.1-39.2l122.2-22.1l41.9,38.1l45.1,37.6L289,398.7z M692,504.5l-43.7-36.4l-49.6-34.8l106.6-34.6\
                                l55.4,38.9l29.5,23.2L692,504.5z M959.9,463.2l-32.6-49.2l139.5-9l50.6,81.5L959.9,463.2z M545.1,369.2l-37.5-30.5l-1.5-1.2\
                                l-34.4-22.2l98.4-45.6l47.5,36.7l50.8,35.7L545.1,369.2z M350.3,307.9l-116.4-79.5l70.7-7.5l76.2-0.3l50.6,81.4l-64.6,0.2\
                                L350.3,307.9z M878,374.6l-59.4-36.8l-2.3-1.6l-52.4-36.9l106.6-34.6l50.2,35.3l54.4,33.7L878,374.6z M698.4,257.1\
                                l-62.7-35.7l-52.4-31.1l110.7-35.1l37.9,24.7l56.7,32.2L698.4,257.1z M655.6,129.2L501.4,106l33.7-60.9l1.5-0.7l21.6-21.3\
                                l129.3,82.9l-30.2,5.6L655.6,129.2z M844.3,158.4l-95.9-44.2l53.2-70l124.9,64.8L844.3,158.4z')
                              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                              g#XMLID_81_
                                polygon#XMLID_24_.st8(points='226.9,500.5 159.2,419.7 234.8,413.7 265.1,411 353,491.6 284.6,495.9 								\
                                ')
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        g#XMLID_97_.st13
                          path#XMLID_36_.st14(d='M282.9,488.7c0,0-73.8,2-93-34.5c-19.1-36.4,46.5-33.3,46.5-33.3l-0.3,0\
                          c21.8-0.7,56.8-6.5,62.9-16.8c3.1-5.4-2.2-14-15.7-25.8c-64.3-55.5-84-95.7-60.3-122.6c21.5-24.5,75.6-33.2,160.8-25.9\
                          c76,6.5,139.4,25.6,193.7,58.5c44.2,26.8,75.9,58.4,112.7,94.9c12.3,12.2,25,24.9,38.7,37.8c40.6,38.3,95.4,67.2,143,75.2\
                          c33.8,5.7,63,0.4,87-15.6c29.7-19.9-12.7-56.3-33-73.8C875.6,363.7,790,310,699.5,253.1c-26.3-16.5-53.6-33.7-80.7-51\
                          C459.9,100.6,528.1,57.7,552.8,47c71.3-31,228.3-10.8,317,40.7c110.9,64.5,183.4,111.6,186.5,113.6\
                          c25.4,16.5,27.1,37.1,3.8,45.9c-23.3,8.8-62.7,2.6-88-14l0,0c-0.7-0.5-72.2-46.9-178.9-108.9c-32.6-18.9-114.4-32.2-144.7-19\
                          c-6.7,2.9-8.3,6.6-5.6,12.8c3.1,7.1,14.8,23.1,58.9,51.3c26.6,17,53.5,33.9,79.6,50.3c95.6,60,185.8,116.8,243.8,166.6\
                          c34.5,29.6,55.5,55,64.3,77.6c10.9,28,2.9,51.4-23.9,69.3c-46,30.9-113.7,40.7-190.6,27.8c-10.3-1.7-20.7-3.9-31.1-6.4\
                          c-80.9-19.6-160.7-61.8-218.4-116.3c-14.7-13.9-27.9-27-40.7-39.7c-70.5-70.2-99-94.8-178.2-101.5c-47.5-4.1-64.8,0-67.5,3.1\
                          c-3.7,4.3,1.3,21.3,43.8,58c47.5,41.1,45.9,69,36.1,85.2C394,484.7,294.2,488.4,282.9,488.7z')
                    | &#x9;&#x9;&#x9;&#x9;
                    g#dots
                      ellipse#XMLID_23_.st15(transform='matrix(0.2354 -0.9719 0.9719 0.2354 565.5336 1143.4625)', cx='1009.5', cy='212.3', rx='14.4', ry='32.5', num='23')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      ellipse#XMLID_22_.st16(transform='matrix(0.2354 -0.9719 0.9719 0.2354 88.63 660.3701)', cx='464', cy='273.9', rx='14.7', ry='31.2', num='6')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      ellipse#XMLID_21_.st17(transform='matrix(0.2354 -0.9719 0.9719 0.2354 361.2887 1223.022)', cx='958', cy='381.9', rx='14.1', ry='31.2', num='14')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      ellipse#XMLID_20_.st18(transform='matrix(0.2354 -0.9719 0.9719 0.2354 349.7062 1325.2755)', cx='1017.1', cy='440.4', rx='15.7', ry='37.6', num='13')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      ellipse#XMLID_19_.st19(transform='matrix(0.2354 -0.9719 0.9719 0.2354 -100.7042 593.7355)', cx='327', cy='360.9', rx='16.4', ry='34.5', num='3')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      ellipse#XMLID_18_.st18(transform='matrix(0.2354 -0.9719 0.9719 0.2354 13.5153 538.0352)', cx='348.7', cy='260.4', rx='15.7', ry='32.9', num='5')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;
                      path#XMLID_17_.st15(d='M582.6,311.2c16.5,7.6,23.1,18.9,14.8,25.3s-28.4,5.5-44.9-2.1s-23.1-18.9-14.8-25.3\
                      C546,302.7,566.1,303.6,582.6,311.2z', num='7', cx='582.6', cy='311.2')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;
                      path#XMLID_16_.st20(d='M727.1,438.2c14.9,10.1,16.5,21.9,3.6,26.4s-35.4,0-50.3-10c-14.9-10.1-16.5-21.9-3.6-26.4\
                      C689.6,423.6,712.2,428.1,727.1,438.2z', num='9', cx='727.1', cy='438.2')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      ellipse#XMLID_15_.st19(transform='matrix(0.2354 -0.9719 0.9719 0.2354 180.3153 1291.0726)', cx='910.7', cy='530.9', rx='16.6', ry='36.9', num='11')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      ellipse#XMLID_14_.st17(transform='matrix(0.2354 -0.9719 0.9719 0.2354 -146.8694 677.178)', cx='357', cy='431.9', rx='16.3', ry='33.1', num='2')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      ellipse#XMLID_13_.st21(transform='matrix(0.2354 -0.9719 0.9719 0.2354 -77.6471 491.4283)', cx='273.5', cy='295.1', rx='15', ry='33.1', num='4')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      ellipse#XMLID_12_.st17(transform='matrix(0.2354 -0.9719 0.9719 0.2354 112.7679 913.3636)', cx='636.9', cy='385', rx='15', ry='29.3', num='8')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      ellipse#XMLID_11_.st21(transform='matrix(0.2354 -0.9719 0.9719 0.2354 110.3002 1148.2261)', cx='784.9', cy='504', rx='14.4', ry='33.1', num='10')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      ellipse#XMLID_10_.st16(transform='matrix(0.2354 -0.9719 0.9719 0.2354 291.5996 1376.0894)', cx='1020.4', cy='502.7', rx='14.7', ry='33.7', num='12')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      ellipse#XMLID_9_.st21(transform='matrix(0.2354 -0.9719 0.9719 0.2354 344.1653 955.5667)', cx='779.4', cy='259', rx='14.4', ry='31.2', num='16')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      ellipse#XMLID_8_.st15(transform='matrix(0.2354 -0.9719 0.9719 0.2354 355.85 1095.6572)', cx='874.3', cy='321.7', rx='14.1', ry='31.2', num='15')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      ellipse#XMLID_7_.st20(transform='matrix(0.2354 -0.9719 0.9719 0.2354 327.2769 827.3785)', cx='689.5', cy='205.7', rx='16.3', ry='33.1', num='17')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      ellipse#XMLID_6_.st16(transform='matrix(0.2354 -0.9719 0.9719 0.2354 319.7992 698.3492)', cx='603.7', cy='145.9', rx='14.1', ry='31.2', num='18')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      ellipse#XMLID_5_.st19(transform='matrix(0.2354 -0.9719 0.9719 0.2354 368.3907 639.7675)', cx='590.8', cy='85.7', rx='15', ry='33.7', num='19')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      ellipse#XMLID_4_.st17(transform='matrix(0.2354 -0.9719 0.9719 0.2354 463.8497 731.1561)', cx='696.6', cy='70.8', rx='15', ry='36.3', num='20')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      ellipse#XMLID_3_.st18(transform='matrix(0.2354 -0.9719 0.9719 0.2354 531.2556 892.5096)', cx='832.9', cy='108.6', rx='14.7', ry='33.7', num='21')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      ellipse#XMLID_2_.st21(transform='matrix(0.2354 -0.9719 0.9719 0.2354 552.0186 1018.9257)', cx='923.6', cy='158.6', rx='13.5', ry='30.6', num='22')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      ellipse#XMLID_55_.st20(transform='matrix(0.2354 -0.9719 0.9719 0.2354 -245.8208 598.6406)', cx='257.6', cy='455.6', rx='14.4', ry='33.7', num='1')
                | &#x9;&#x9;
                g#XMLID_70_
                  path#XMLID_73_.st1(d='M38.7,132.2l7.4,14.6l14.6-19.6c0,0,0.1-0.1,0.1-0.1c2-2.6,1.9-7.9-0.1-11.8\
                  c-2-3.9-5.2-4.9-7.2-2.3C53.3,113.3,38.7,132.2,38.7,132.2z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_72_.st1(d='M41.5,137.7L60,114c-2-2.8-4.7-3.4-6.4-1.1c-0.3,0.4-14.9,19.3-14.9,19.3L41.5,137.7z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_71_.st1(d='M19.9,126.1c8.4-11.2,20.8-9.3,27.7,4.3c6.9,13.6,5.7,33.7-2.7,44.9\
                  c-8.4,11.2-42.4,15.2-42.4,15.2S11.5,137.3,19.9,126.1z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_92_.st1(d='M2.6,190.5c0,0,0.1,0,0.3,0C5.6,180.7,17,141,25.2,133c8.9-8.7,20.3-4.7,26.2,8.7\
                  c-0.7-4-2-7.8-3.7-11.3c-6.9-13.6-19.4-15.5-27.7-4.3C11.5,137.3,2.6,190.5,2.6,190.5z')
                | &#x9;&#x9;
                g#tree_5_
                  path#XMLID_131_.st2(d='M71.9,82.6H56.5l0.1,30.7c0,0.1,0,0.1,0,0.2c0,4.1,3.3,7.4,7.5,7.4s7.5-3.3,7.5-7.4\
                  C71.5,112.8,71.9,82.6,71.9,82.6z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_130_.st3(d='M66.1,82.6l-0.6,38.2c3.4-0.7,6-3.7,6-7.3c0-0.6,0.4-30.9,0.4-30.9L66.1,82.6L66.1,82.6z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_129_.st4(d='M91.4,63.1c0,17.6-11.6,31.9-26,31.9s-26-14.3-26-31.9s26-62.6,26-62.6S91.4,45.5,91.4,63.1z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_128_.st5(d='M65.5,0.5c0,0-0.1,0.1-0.2,0.3c3.9,9.6,19.3,49.1,17.4,64.4c-2,16.6-14,28.3-27.4,27.2\
                  C58.4,94,61.9,95,65.5,95c14.3,0,26-14.3,26-31.9C91.4,45.5,65.5,0.5,65.5,0.5z')
                | &#x9;&#x9;
                g#tree_8_
                  path#XMLID_158_.st2(d='M567.7,242.3h-15.4l0.1,30.7c0,0.1,0,0.1,0,0.2c0,4.1,3.3,7.4,7.5,7.4c4.1,0,7.5-3.3,7.5-7.4\
                  C567.3,272.6,567.7,242.3,567.7,242.3z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_157_.st3(d='M561.9,242.3l-0.6,38.2c3.4-0.7,6-3.7,6-7.3c0-0.6,0.4-30.9,0.4-30.9L561.9,242.3L561.9,242.3\
                  z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_156_.st4(d='M587.2,222.8c0,17.6-11.6,31.9-26,31.9s-26-14.3-26-31.9s26-62.6,26-62.6\
                  S587.2,205.3,587.2,222.8z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_155_.st5(d='M561.3,160.3c0,0-0.1,0.1-0.2,0.3c3.9,9.6,19.3,49.1,17.4,64.4c-2,16.6-14,28.3-27.4,27.2\
                  c3.1,1.6,6.6,2.5,10.2,2.5c14.3,0,26-14.3,26-31.9C587.2,205.2,561.3,160.3,561.3,160.3z')
                | &#x9;&#x9;
                g#XMLID_171_
                  path#XMLID_176_.st1(d='M654,301c8.2-6.5,21.4-3.2,29.6,7.4c8.1,10.6,8.1,24.6-0.1,31.1c-8.2,6.5-40.9,1.6-40.9,1.6\
                  S645.8,307.6,654,301z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_175_.st4(d='M706.9,308.2c0,10.6-11.6,19.2-26,19.2s-26-8.6-26-19.2c0-10.6,26-33.9,26-33.9\
                  S706.9,297.6,706.9,308.2z')
                  | &#x9;&#x9;&#x9;
                  g#XMLID_172_
                    path#XMLID_174_.st5(d='M683.5,276.7c2,4,15.4,31.5,11.9,40.7c-2,5.2-6.7,8.6-12.7,10c13.6-0.7,24.3-9,24.3-19.2\
                    C706.9,299.7,690,282.9,683.5,276.7z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_173_.st5(d='M683,276.2c-1.3-1.2-2.1-1.9-2.1-1.9s-2.1,1.9-5.1,4.8C679.6,277.5,682.3,276.5,683,276.2z')
                | &#x9;&#x9;
                g#XMLID_154_
                  path#XMLID_181_.st4(d='M802.9,578.3c0,11-24.2,20-54,20s-54-8.9-54-20c0-11,54-35.2,54-35.2S802.9,567.3,802.9,578.3\
                  z')
                  | &#x9;&#x9;&#x9;
                  g#XMLID_178_
                    path#XMLID_180_.st5(d='M754.2,545.6c4.2,4.2,31.9,32.7,24.7,42.2c-4.1,5.4-14,9-26.4,10.4\
                    c28.1-0.7,50.4-9.3,50.4-19.9C802.9,569.4,767.8,552,754.2,545.6z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_179_.st5(d='M753.2,545.1c-2.6-1.2-4.3-2-4.3-2s-4.4,2-10.5,5C746.2,546.4,751.9,545.3,753.2,545.1z')
                | &#x9;&#x9;
                g#XMLID_193_
                  path#XMLID_195_.st22(d='M402.5,22.3c23,3.5,53-3.1,66.3,16.7c13.5,20.1,23.3,56.8,20.4,84\
                  c-2.9,27.3-14.6,68.4-31.8,83.9c-17,15.3-53,19.4-75.9,15.9c-23-3.5-65.9-9.6-79.2-29.4c-13.5-20.1,28.7-66.5,31.6-93.7\
                  c2.9-27.3-19.7-70.9-2.5-86.3C348.3-1.9,379.5,18.8,402.5,22.3z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_194_.st23(d='M388.4,36.7c23,3.5,53-3.1,66.3,16.7c13.5,20.1,23.3,56.8,20.4,84')
                | &#x9;&#x9;
                g#XMLID_462_
                  path#XMLID_170_.st1(d='M18.8,294.4c8.2-6.5,21.4-3.2,29.6,7.4c8.1,10.6,8.1,24.6-0.1,31.1s-40.9,1.6-40.9,1.6\
                  S10.6,301,18.8,294.4z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_169_.st4(d='M71.7,301.6c0,10.6-11.6,19.2-26,19.2s-26-8.6-26-19.2c0-10.6,26-33.9,26-33.9\
                  S71.7,291,71.7,301.6z')
                | &#x9;&#x9;
                g#tree_11_
                  path#XMLID_209_.st2(d='M728.6,373.5h-15.4l0.1,30.7c0,0.1,0,0.1,0,0.2c0,4.1,3.3,7.4,7.5,7.4c4.1,0,7.5-3.3,7.5-7.4\
                  C728.2,403.8,728.6,373.5,728.6,373.5z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_208_.st3(d='M722.8,373.5l-0.6,38.2c3.4-0.7,6-3.7,6-7.3c0-0.6,0.4-30.9,0.4-30.9L722.8,373.5L722.8,373.5\
                  z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_207_.st4(d='M748.1,354.1c0,17.6-11.6,31.9-26,31.9c-14.3,0-26-14.3-26-31.9s26-62.6,26-62.6\
                  S748.1,336.5,748.1,354.1z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_206_.st5(d='M722.2,291.5c0,0-0.1,0.1-0.2,0.3c3.9,9.6,19.3,49.1,17.4,64.4c-2,16.6-14,28.3-27.4,27.2\
                  c3.1,1.6,6.6,2.5,10.2,2.5c14.3,0,26-14.3,26-31.9C748.1,336.5,722.2,291.5,722.2,291.5z')
                | &#x9;&#x9;
                g#XMLID_215_
                  path#XMLID_220_.st1(d='M777.8,187.3c8.2-6.5,21.4-3.2,29.6,7.4c8.1,10.6,8.1,24.6-0.1,31.1\
                  c-8.2,6.5-40.9,1.6-40.9,1.6S769.6,193.8,777.8,187.3z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_219_.st4(d='M830.8,194.5c0,10.6-11.6,19.2-26,19.2c-14.4,0-26-8.6-26-19.2c0-10.6,26-33.9,26-33.9\
                  S830.8,183.9,830.8,194.5z')
                  | &#x9;&#x9;&#x9;
                  g#XMLID_216_
                    path#XMLID_218_.st5(d='M807.3,163c2,4,15.4,31.5,11.9,40.7c-2,5.2-6.7,8.6-12.7,10c13.6-0.7,24.3-9,24.3-19.2\
                    C830.8,185.9,813.9,169.1,807.3,163z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_217_.st5(d='M806.8,162.5c-1.3-1.2-2.1-1.9-2.1-1.9s-2.1,1.9-5.1,4.8\
                    C803.5,163.8,806.2,162.8,806.8,162.5z')
                | &#x9;&#x9;
                g#tree_13_
                  path#XMLID_235_.st2(d='M768.7,405.9h-15.4l0.1,30.7c0,0.1,0,0.1,0,0.2c0,4.1,3.3,7.4,7.5,7.4c4.1,0,7.5-3.3,7.5-7.4\
                  C768.3,436.2,768.7,405.9,768.7,405.9z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_234_.st3(d='M763,405.9l-0.6,38.2c3.4-0.7,6-3.7,6-7.3c0-0.6,0.4-30.9,0.4-30.9L763,405.9L763,405.9z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_233_.st4(d='M788.3,386.4c0,17.6-11.6,31.9-26,31.9c-14.3,0-26-14.3-26-31.9c0-17.6,26-62.6,26-62.6\
                  S788.3,368.8,788.3,386.4z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_232_.st5(d='M762.3,323.9c0,0-0.1,0.1-0.2,0.3c3.9,9.6,19.3,49.1,17.4,64.4c-2,16.6-14,28.3-27.4,27.2\
                  c3.1,1.6,6.6,2.5,10.2,2.5c14.3,0,26-14.3,26-31.9C788.3,368.8,762.3,323.9,762.3,323.9z')
                | &#x9;&#x9;
                g#tree_14_
                  path#XMLID_245_.st2(d='M806.3,429.7h-15.4l0.1,30.7c0,0.1,0,0.1,0,0.2c0,4.1,3.3,7.4,7.5,7.4c4.1,0,7.5-3.3,7.5-7.4\
                  C805.9,459.9,806.3,429.7,806.3,429.7z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_244_.st3(d='M800.5,429.7l-0.6,38.2c3.4-0.7,6-3.7,6-7.3c0-0.6,0.4-30.9,0.4-30.9L800.5,429.7L800.5,429.7\
                  z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_243_.st4(d='M825.8,410.2c0,17.6-11.6,31.9-26,31.9s-26-14.3-26-31.9s26-62.6,26-62.6\
                  S825.8,392.6,825.8,410.2z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_242_.st5(d='M799.9,347.6c0,0-0.1,0.1-0.2,0.3c3.9,9.6,19.3,49.1,17.4,64.4c-2,16.6-14,28.3-27.4,27.2\
                  c3.1,1.6,6.6,2.5,10.2,2.5c14.3,0,26-14.3,26-31.9C825.8,392.6,799.9,347.6,799.9,347.6z')
                | &#x9;&#x9;
                g#tree_15_
                  path#XMLID_260_.st2(d='M112,265.6H92.8l0.1,38.3c0,0.1,0,0.2,0,0.3c0,5.1,4.2,9.3,9.3,9.3s9.3-4.2,9.3-9.3\
                  C111.5,303.4,112,265.6,112,265.6z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_259_.st3(d='M104.8,265.6l-0.8,47.7c4.3-0.8,7.5-4.6,7.5-9.1c0-0.8,0.5-38.6,0.5-38.6H104.8z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_258_.st4(d='M136.4,241.3c0,22-14.5,39.8-32.4,39.8s-32.4-17.8-32.4-39.8s32.4-78.1,32.4-78.1\
                  S136.4,219.3,136.4,241.3z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_257_.st5(d='M104,163.2c0,0-0.1,0.2-0.2,0.4c4.8,12,24,61.3,21.8,80.4c-2.5,20.7-17.5,35.3-34.2,33.9\
                  c3.9,2,8.2,3.2,12.7,3.2c17.9,0,32.4-17.8,32.4-39.8C136.4,219.3,104,163.2,104,163.2z')
                | &#x9;&#x9;
                path#XMLID_267_.st4(d='M893.2,231.8c0,12.9-14.1,23.3-31.5,23.3c-17.4,0-31.5-10.4-31.5-23.3c0-12.9,31.5-41,31.5-41\
                S893.2,219,893.2,231.8z')
                | &#x9;&#x9;
                g#XMLID_279_
                  path#XMLID_293_.st1(d='M242.9,543.8c9.7-7.7,25.3-3.8,34.8,8.7c9.6,12.5,9.5,28.9-0.1,36.6\
                  c-9.7,7.7-48.2,1.9-48.2,1.9S233.3,551.5,242.9,543.8z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_292_.st4(d='M305.3,552.2c0,12.5-13.7,22.6-30.6,22.6S244,564.7,244,552.2c0-12.5,30.6-39.9,30.6-39.9\
                  S305.3,539.7,305.3,552.2z')
                  | &#x9;&#x9;&#x9;
                  g#XMLID_289_
                    path#XMLID_291_.st5(d='M277.6,515.1c2.4,4.8,18.1,37.1,14,47.9c-2.3,6.1-7.9,10.2-15,11.8\
                    c16-0.8,28.6-10.6,28.6-22.6C305.3,542.1,285.3,522.4,277.6,515.1z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_290_.st5(d='M277.1,514.6c-1.5-1.4-2.4-2.2-2.4-2.2s-2.5,2.2-6,5.6C273.1,516.1,276.3,514.9,277.1,514.6z\
                    ')
                | &#x9;&#x9;
                g#XMLID_617_
                  polygon#XMLID_313_.st24(points='1012.7,251.9 957.8,223.9 1008.8,147.6 	')
                  | &#x9;&#x9;&#x9;
                  polygon#XMLID_311_.st25(points='1008.5,148.4 1012.9,251.8 1058.1,214.9 	')
                | &#x9;&#x9;
                g#tree_21_
                  path#XMLID_344_.st2(d='M1100.4,286.3h-21.1l0.1,32.1c0,0.1,0,0.1,0,0.2c0,4.3,4.6,7.8,10.2,7.8\
                  c5.6,0,10.2-3.5,10.2-7.8C1099.9,318,1100.4,286.3,1100.4,286.3z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_343_.st3(d='M1092.5,286.3l-0.9,40c4.7-0.7,8.2-3.8,8.2-7.6c0-0.7,0.5-32.4,0.5-32.4H1092.5z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_342_.st4(d='M1127.2,265.9c0,18.4-15.9,33.4-35.6,33.4s-35.6-14.9-35.6-33.4s35.6-65.5,35.6-65.5\
                  S1127.2,247.5,1127.2,265.9z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_341_.st5(d='M1091.7,200.4c0,0-0.1,0.1-0.3,0.4c5.3,10.1,26.4,51.5,23.9,67.4\
                  c-2.7,17.4-19.2,29.6-37.6,28.4c4.3,1.7,9,2.7,13.9,2.7c19.6,0,35.6-14.9,35.6-33.4C1127.2,247.5,1091.7,200.4,1091.7,200.4z')
                | &#x9;&#x9;
                g#XMLID_335_
                  path#XMLID_358_.st1(d='M22.6,170c8.2-6.5,21.4-3.2,29.6,7.4s8.1,24.6-0.1,31.1s-40.9,1.6-40.9,1.6\
                  S14.4,176.5,22.6,170z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_357_.st4(d='M75.6,177.2c0,10.6-11.6,19.2-26,19.2s-26-8.6-26-19.2c0-10.6,26-33.9,26-33.9\
                  S75.6,166.6,75.6,177.2z')
                  | &#x9;&#x9;&#x9;
                  g#XMLID_354_
                    path#XMLID_356_.st5(d='M52.1,145.7c2,4,15.4,31.5,11.9,40.7c-2,5.2-6.7,8.6-12.7,10c13.6-0.7,24.3-9,24.3-19.2\
                    C75.6,168.6,58.6,151.9,52.1,145.7z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_355_.st5(d='M51.6,145.2c-1.3-1.2-2.1-1.9-2.1-1.9s-2.1,1.9-5.1,4.8C48.3,146.5,51,145.5,51.6,145.2z')
                | &#x9;&#x9;
                g#tree_23_
                  path#XMLID_363_.st2(d='M216.2,549.7h-14.7l0.1,17.9c0,0,0,0.1,0,0.1c0,2.4,3.2,4.3,7.1,4.3s7.1-1.9,7.1-4.3\
                  C215.8,567.3,216.2,549.7,216.2,549.7z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_362_.st3(d='M210.7,549.7l-0.6,22.2c3.3-0.4,5.8-2.1,5.8-4.2c0-0.4,0.4-18,0.4-18L210.7,549.7L210.7,549.7\
                  z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_361_.st4(d='M234.9,538.4c0,10.2-11.1,18.5-24.9,18.5s-24.9-8.3-24.9-18.5s24.9-36.4,24.9-36.4\
                  S234.9,528.1,234.9,538.4z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_360_.st5(d='M210.1,502c0,0-0.1,0.1-0.2,0.2c3.7,5.6,18.4,28.6,16.7,37.5c-1.9,9.6-13.4,16.4-26.3,15.8\
                  c3,1,6.3,1.5,9.7,1.5c13.7,0,24.9-8.3,24.9-18.5C234.9,528.1,210.1,502,210.1,502z')
                | &#x9;&#x9;
                g#tree_24_
                  path#XMLID_377_.st2(d='M1146,207.1h-19.2l0.1,38.3c0,0.1,0,0.2,0,0.3c0,5.1,4.2,9.3,9.3,9.3s9.3-4.2,9.3-9.3\
                  C1145.5,244.8,1146,207.1,1146,207.1z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_376_.st3(d='M1138.8,207.1l-0.8,47.7c4.3-0.8,7.5-4.6,7.5-9.1c0-0.8,0.5-38.6,0.5-38.6H1138.8z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_375_.st4(d='M1170.4,182.7c0,22-14.5,39.8-32.4,39.8s-32.4-17.8-32.4-39.8s32.4-78.1,32.4-78.1\
                  S1170.4,160.8,1170.4,182.7z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_374_.st5(d='M1138,104.6c0,0-0.1,0.2-0.2,0.4c4.8,12,24,61.3,21.8,80.4c-2.5,20.7-17.5,35.3-34.2,33.9\
                  c3.9,2,8.2,3.2,12.7,3.2c17.9,0,32.4-17.8,32.4-39.8C1170.4,160.8,1138,104.6,1138,104.6z')
                | &#x9;&#x9;
                g#tree_25_
                  path#XMLID_380_.st2(d='M919.6,251.7h-10.2l0.1,20.3c0,0,0,0.1,0,0.1c0,2.7,2.2,4.9,4.9,4.9s4.9-2.2,4.9-4.9\
                  C919.4,271.7,919.6,251.7,919.6,251.7z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_379_.st3(d='M915.8,251.7l-0.4,25.2c2.3-0.4,4-2.4,4-4.8c0-0.4,0.3-20.4,0.3-20.4H915.8z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_378_.st4(d='M932.5,238.9c0,11.6-7.7,21.1-17.1,21.1c-9.5,0-17.1-9.4-17.1-21.1s17.1-41.3,17.1-41.3\
                  S932.5,227.2,932.5,238.9z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_359_.st5(d='M915.4,197.5c0,0-0.1,0.1-0.1,0.2c2.5,6.3,12.7,32.5,11.5,42.5c-1.3,11-9.3,18.7-18.1,17.9\
                  c2.1,1.1,4.3,1.7,6.7,1.7c9.5,0,17.1-9.4,17.1-21.1C932.5,227.2,915.4,197.5,915.4,197.5z')
                | &#x9;&#x9;
                g#XMLID_386_
                  g#tree_27_
                    path#XMLID_404_.st2(d='M475.6,426.5h-19.2l0.1,38.3c0,0.1,0,0.2,0,0.3c0,5.1,4.2,9.3,9.3,9.3s9.3-4.2,9.3-9.3\
                    C475.1,464.3,475.6,426.5,475.6,426.5z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_403_.st3(d='M468.4,426.5l-0.8,47.7c4.3-0.8,7.5-4.6,7.5-9.1c0-0.8,0.5-38.6,0.5-38.6H468.4z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_402_.st4(d='M500,402.2c0,22-14.5,39.8-32.4,39.8s-32.4-17.8-32.4-39.8s32.4-78.1,32.4-78.1\
                    S500,380.2,500,402.2z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_401_.st5(d='M467.6,324.1c0,0-0.1,0.2-0.2,0.4c4.8,12,24,61.3,21.8,80.4c-2.5,20.7-17.5,35.3-34.2,33.9\
                    c3.9,2,8.2,3.2,12.7,3.2c17.9,0,32.4-17.8,32.4-39.8C500,380.2,467.6,324.1,467.6,324.1z')
                  | &#x9;&#x9;&#x9;
                  g#XMLID_396_
                    path#XMLID_400_.st1(d='M425.5,488.7l12.2,18.2l24-24.5c0.1-0.1,0.1-0.1,0.2-0.1c3.2-3.3,3.2-9.9-0.1-14.7\
                    c-3.3-4.9-8.5-6.2-11.8-2.9C449.6,465.1,425.5,488.7,425.5,488.7z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_399_.st1(d='M430.1,495.5l30.4-29.6c-3.3-3.5-7.7-4.2-10.5-1.3c-0.5,0.5-24.5,24.1-24.5,24.1L430.1,495.5\
                    z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_398_.st1(d='M394.7,481.1c13.8-14,34.2-11.6,45.6,5.4c11.4,16.9,9.4,42-4.4,56c-13.8,14-69.7,19-69.7,19\
                    S380.9,495.1,394.7,481.1z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_397_.st1(d='M366.3,561.5c0,0,0.2,0,0.4,0c4.5-12.2,23.2-61.8,36.6-71.8c14.6-10.8,33.3-5.9,43.1,10.8\
                    c-1.2-5-3.2-9.8-6.1-14c-11.4-16.9-31.8-19.3-45.6-5.4C380.9,495.1,366.3,561.5,366.3,561.5z')
                | &#x9;&#x9;
                g#XMLID_405_
                  path#XMLID_410_.st1(d='M37.5,366.5c8.2-6.5,21.4-3.2,29.6,7.4c8.1,10.6,8.1,24.6-0.1,31.1s-40.9,1.6-40.9,1.6\
                  S29.3,373,37.5,366.5z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_409_.st4(d='M90.5,373.7c0,10.6-11.6,19.2-26,19.2s-26-8.6-26-19.2c0-10.6,26-33.9,26-33.9\
                  S90.5,363,90.5,373.7z')
                  | &#x9;&#x9;&#x9;
                  g#XMLID_406_
                    path#XMLID_408_.st5(d='M67,342.1c2,4,15.4,31.5,11.9,40.7c-2,5.2-6.7,8.6-12.7,10c13.6-0.7,24.3-9,24.3-19.2\
                    C90.5,365.1,73.5,348.3,67,342.1z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_407_.st5(d='M66.5,341.7c-1.3-1.2-2.1-1.9-2.1-1.9s-2.1,1.9-5.1,4.8C63.2,342.9,65.9,341.9,66.5,341.7z')
                | &#x9;&#x9;
                g#XMLID_437_
                  g#XMLID_442_
                    path#XMLID_446_.st1(d='M168.5,289l9.8,12.2l19.2-16.5c0,0,0.1-0.1,0.1-0.1c2.6-2.2,2.5-6.6-0.1-9.9\
                    c-2.6-3.3-6.8-4.2-9.4-2C187.8,273.1,168.5,289,168.5,289z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_445_.st1(d='M172.2,293.6l24.4-19.9c-2.6-2.4-6.1-2.8-8.4-0.9c-0.4,0.3-19.7,16.2-19.7,16.2L172.2,293.6z\
                    ')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_444_.st1(d='M143.8,283.9c11.1-9.4,27.4-7.8,36.5,3.6c9.1,11.4,7.6,28.2-3.5,37.7\
                    c-11.1,9.4-55.8,12.8-55.8,12.8S132.8,293.3,143.8,283.9z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_443_.st1(d='M121.1,337.9c0,0,0.1,0,0.3,0c3.6-8.2,18.6-41.6,29.3-48.3c11.7-7.3,26.7-4,34.5,7.3\
                    c-1-3.4-2.6-6.6-4.9-9.4c-9.1-11.4-25.5-13-36.5-3.6C132.8,293.3,121.1,337.9,121.1,337.9z')
                  | &#x9;&#x9;&#x9;
                  g#tree_30_
                    path#XMLID_441_.st2(d='M209.2,246.5h-15.4l0.1,25.8c0,0.1,0,0.1,0,0.2c0,3.4,3.3,6.2,7.5,6.2c4.1,0,7.5-2.8,7.5-6.2\
                    C208.8,271.9,209.2,246.5,209.2,246.5z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_440_.st3(d='M203.4,246.5l-0.6,32c3.4-0.6,6-3.1,6-6.1c0-0.5,0.4-25.9,0.4-25.9L203.4,246.5L203.4,246.5z\
                    ')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_439_.st4(d='M228.7,230.1c0,14.8-11.6,26.7-26,26.7s-26-12-26-26.7s26-52.5,26-52.5\
                    S228.7,215.4,228.7,230.1z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_438_.st5(d='M202.8,177.6c0,0-0.1,0.1-0.2,0.3c3.9,8.1,19.3,41.2,17.4,54c-2,13.9-14,23.7-27.4,22.8\
                    c3.1,1.4,6.6,2.1,10.2,2.1c14.3,0,26-12,26-26.7C228.7,215.3,202.8,177.6,202.8,177.6z')
                | &#x9;&#x9;
                g#XMLID_456_
                  path#XMLID_461_.st1(d='M494.1,30.9c8.2-6.5,21.4-3.2,29.6,7.4c8.1,10.6,8.1,24.6-0.1,31.1\
                  c-8.2,6.5-40.9,1.6-40.9,1.6S485.9,37.5,494.1,30.9z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_460_.st4(d='M547,38.1c0,10.6-11.6,19.2-26,19.2c-14.4,0-26-8.6-26-19.2c0-10.6,26-33.9,26-33.9\
                  S547,27.5,547,38.1z')
                  | &#x9;&#x9;&#x9;
                  g#XMLID_457_
                    path#XMLID_459_.st5(d='M523.5,6.6c2,4,15.4,31.5,11.9,40.7c-2,5.2-6.7,8.6-12.7,10c13.6-0.7,24.3-9,24.3-19.2\
                    C547,29.5,530.1,12.8,523.5,6.6z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_458_.st5(d='M523,6.1C521.8,5,521,4.2,521,4.2s-2.1,1.9-5.1,4.8C519.7,7.4,522.4,6.4,523,6.1z')
                | &#x9;&#x9;
                g#tree_32_
                  path#XMLID_471_.st2(d='M228.4,376.9h-20l0.1,35.5c0,0.1,0,0.2,0,0.2c0,4.8,4.3,8.6,9.7,8.6s9.7-3.9,9.7-8.6\
                  C227.9,412,228.4,376.9,228.4,376.9z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_470_.st3(d='M220.9,376.9l-0.8,44.2c4.5-0.8,7.8-4.3,7.8-8.4c0-0.7,0.5-35.8,0.5-35.8H220.9z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_469_.st4(d='M253.8,354.4c0,20.4-15.1,36.9-33.8,36.9s-33.8-16.5-33.8-36.9s33.8-72.5,33.8-72.5\
                  S253.8,334,253.8,354.4z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_468_.st5(d='M220,281.9c0,0-0.1,0.2-0.3,0.4c5,11.1,25,56.9,22.7,74.6c-2.6,19.2-18.2,32.7-35.7,31.5\
                  c4.1,1.9,8.5,2.9,13.2,2.9c18.6,0,33.8-16.5,33.8-36.9C253.8,334,220,281.9,220,281.9z')
                | &#x9;&#x9;
                g#tree_38_
                  path#XMLID_536_.st2(d='M509,192.2h-21.6l0.1,43.2c0,0.1,0,0.2,0,0.3c0,5.8,4.7,10.4,10.5,10.4s10.5-4.7,10.5-10.4\
                  C508.5,234.8,509,192.2,509,192.2z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_535_.st3(d='M500.9,192.2l-0.9,53.7c4.8-0.9,8.5-5.2,8.5-10.2c0-0.9,0.6-43.4,0.6-43.4H500.9z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_534_.st4(d='M536.5,164.8c0,24.8-16.3,44.8-36.5,44.8s-36.5-20.1-36.5-44.8s36.5-88,36.5-88\
                  S536.5,140.1,536.5,164.8z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_533_.st5(d='M500,76.8c0,0-0.1,0.2-0.3,0.5c5.4,13.5,27.1,69.1,24.5,90.5c-2.8,23.3-19.7,39.8-38.6,38.2\
                  c4.4,2.3,9.2,3.6,14.3,3.6c20.2,0,36.5-20.1,36.5-44.8C536.5,140.1,500,76.8,500,76.8z')
                | &#x9;&#x9;
                g#tree_39_
                  path#XMLID_546_.st2(d='M301.5,154.7h-26.4l0.2,52.6c0,0.1,0,0.2,0,0.3c0,7,5.7,12.7,12.8,12.7s12.8-5.7,12.8-12.7\
                  C300.9,206.6,301.5,154.7,301.5,154.7z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_545_.st3(d='M291.6,154.7l-1.1,65.5c5.9-1.1,10.3-6.3,10.3-12.5c0-1.1,0.7-53,0.7-53H291.6z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_544_.st4(d='M335,121.3c0,30.2-19.9,54.7-44.5,54.7S246,151.5,246,121.3S290.5,14,290.5,14\
                  S335,91.2,335,121.3z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_543_.st5(d='M290.5,14c0,0-0.1,0.2-0.3,0.6c6.6,16.5,33,84.3,29.9,110.4c-3.4,28.4-24.1,48.5-47,46.6\
                  c5.4,2.8,11.3,4.4,17.4,4.4c24.6,0,44.5-24.5,44.5-54.7C335,91.2,290.5,14,290.5,14z')
                | &#x9;&#x9;
                path#XMLID_559_.st4(d='M450.6,350.2c0,13-14.3,23.6-31.9,23.6s-31.9-10.6-31.9-23.6c0-13,31.9-41.6,31.9-41.6\
                S450.6,337.2,450.6,350.2z')
                | &#x9;&#x9;
                g#XMLID_556_
                  path#XMLID_558_.st5(d='M421.8,311.5c2.5,5,18.9,38.7,14.6,49.9c-2.4,6.4-8.3,10.6-15.6,12.3\
                  c16.7-0.8,29.8-11,29.8-23.5C450.6,339.7,429.9,319.1,421.8,311.5z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_557_.st5(d='M421.2,311c-1.5-1.4-2.5-2.3-2.5-2.3s-2.6,2.3-6.2,5.9C417.1,312.5,420.5,311.3,421.2,311z')
                | &#x9;&#x9;
                g#XMLID_231_
                  path#XMLID_564_.st4(d='M1133.6,378.1c0,10.6-11.6,19.2-26,19.2s-26-8.6-26-19.2c0-10.6,26-33.9,26-33.9\
                  S1133.6,367.4,1133.6,378.1z')
                  | &#x9;&#x9;&#x9;
                  g#XMLID_561_
                    path#XMLID_563_.st5(d='M1110.2,343.6c2,4,15.4,31.5,11.9,40.7c-2,5.2-6.7,8.6-12.7,10c13.6-0.7,24.3-9,24.3-19.2\
                    C1133.6,366.5,1116.7,349.7,1110.2,343.6z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_562_.st5(d='M1109.7,343.1c-1.3-1.2-2.1-1.9-2.1-1.9s-2.1,1.9-5.1,4.8\
                    C1106.3,344.4,1109,343.3,1109.7,343.1z')
                | &#x9;&#x9;
                g#XMLID_569_
                  path#XMLID_573_.st1(d='M91.4,461.5l15,26.1l35.3-31.2c0.1-0.1,0.2-0.1,0.2-0.2c4.7-4.2,5.3-13.2,1.3-20.2\
                  s-11.1-9.3-15.8-5.1C126.7,431.5,91.4,461.5,91.4,461.5z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_572_.st1(d='M97.1,471.2l44.6-37.6c-4.1-5.1-10.1-6.5-14.3-2.8c-0.7,0.6-36,30.6-36,30.6L97.1,471.2z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_571_.st1(d='M50,448c20.3-17.8,48-12.6,62,11.8c14,24.3,8.9,58.5-11.4,76.3\
                  c-20.3,17.8-97.3,19.3-97.3,19.3S29.7,465.8,50,448z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_570_.st1(d='M3.2,555.4c0,0,0.2,0,0.6,0c7.3-16.3,37.8-82.5,57.2-94.8c21-13.4,46.2-4.8,58,19\
                  c-1.2-7-3.5-13.7-7-19.8c-14-24.3-41.7-29.6-62-11.8C29.7,465.8,3.2,555.4,3.2,555.4z')
                | &#x9;&#x9;
                g#tree_42_
                  path#XMLID_583_.st2(d='M847.2,446.7h-16l0.1,31.9c0,0.1,0,0.1,0,0.2c0,4.3,3.5,7.7,7.7,7.7c4.3,0,7.7-3.5,7.7-7.7\
                  C846.8,478.1,847.2,446.7,847.2,446.7z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_582_.st3(d='M841.3,446.7l-0.7,39.6c3.6-0.7,6.2-3.8,6.2-7.6c0-0.7,0.4-32.1,0.4-32.1H841.3z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_581_.st4(d='M867.5,426.5c0,18.3-12.1,33.1-27,33.1c-14.9,0-27-14.8-27-33.1s27-65,27-65\
                  S867.5,408.2,867.5,426.5z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_580_.st5(d='M840.6,361.5c0,0-0.1,0.1-0.2,0.4c4,10,20,51,18.1,66.9c-2.1,17.2-14.6,29.4-28.5,28.2\
                  c3.2,1.7,6.8,2.6,10.6,2.6c14.9,0,27-14.8,27-33.1C867.5,408.2,840.6,361.5,840.6,361.5z')
                | &#x9;&#x9;
                g#tree_43_
                  path#XMLID_593_.st2(d='M242.5,163.7h-23.5l0.1,46.8c0,0.1,0,0.2,0,0.3c0,6.3,5.1,11.3,11.4,11.3s11.4-5.1,11.4-11.3\
                  C241.9,209.9,242.5,163.7,242.5,163.7z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_592_.st3(d='M233.7,163.7l-1,58.3c5.2-1,9.2-5.6,9.2-11.1c0-1,0.6-47.1,0.6-47.1H233.7z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_591_.st4(d='M272.4,134c0,26.9-17.7,48.6-39.6,48.6s-39.6-21.8-39.6-48.6s39.6-95.5,39.6-95.5\
                  S272.4,107.1,272.4,134z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_590_.st5(d='M232.8,38.5c0,0-0.1,0.2-0.3,0.5c5.9,14.7,29.4,75,26.6,98.3c-3,25.3-21.4,43.2-41.8,41.4\
                  c4.8,2.5,10,3.9,15.5,3.9c21.9,0,39.6-21.8,39.6-48.6C272.4,107.1,232.8,38.5,232.8,38.5z')
                | &#x9;&#x9;
                g#tree_46_
                  path#XMLID_622_.st2(d='M1165.7,351.3h-19.2l0.1,38.3c0,0.1,0,0.2,0,0.3c0,5.1,4.2,9.3,9.3,9.3s9.3-4.2,9.3-9.3\
                  C1165.3,389,1165.7,351.3,1165.7,351.3z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_621_.st3(d='M1158.5,351.3l-0.8,47.7c4.3-0.8,7.5-4.6,7.5-9.1c0-0.8,0.5-38.6,0.5-38.6H1158.5z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_620_.st4(d='M1190.2,326.9c0,22-14.5,39.8-32.4,39.8c-17.9,0-32.4-17.8-32.4-39.8\
                  c0-22,32.4-78.1,32.4-78.1S1190.2,305,1190.2,326.9z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_618_.st5(d='M1157.7,248.8c0,0-0.1,0.2-0.2,0.4c4.8,12,24,61.3,21.8,80.4c-2.5,20.7-17.5,35.3-34.2,33.9\
                  c3.9,2,8.2,3.2,12.7,3.2c17.9,0,32.4-17.8,32.4-39.8C1190.2,305,1157.7,248.8,1157.7,248.8z')
                | &#x9;&#x9;
                g#tree_47_
                  path#XMLID_632_.st2(d='M1044.7,304.8h-19.2l0.1,38.3c0,0.1,0,0.2,0,0.3c0,5.1,4.2,9.3,9.3,9.3s9.3-4.2,9.3-9.3\
                  C1044.2,342.6,1044.7,304.8,1044.7,304.8z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_631_.st3(d='M1037.5,304.8l-0.8,47.7c4.3-0.8,7.5-4.6,7.5-9.1c0-0.8,0.5-38.6,0.5-38.6H1037.5z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_630_.st4(d='M1069.1,280.5c0,22-14.5,39.8-32.4,39.8c-17.9,0-32.4-17.8-32.4-39.8s32.4-78.1,32.4-78.1\
                  S1069.1,258.5,1069.1,280.5z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_629_.st5(d='M1036.7,202.4c0,0-0.1,0.2-0.2,0.4c4.8,12,24,61.3,21.8,80.4c-2.5,20.7-17.5,35.3-34.2,33.9\
                  c3.9,2,8.2,3.2,12.7,3.2c17.9,0,32.4-17.8,32.4-39.8C1069.1,258.5,1036.7,202.4,1036.7,202.4z')
                | &#x9;&#x9;
                g#tree_26_
                  path#XMLID_395_.st2(d='M743.3,157.9h-23.8l0.1,21.9c0,0,0,0.1,0,0.1c0,2.9,5.2,5.3,11.5,5.3s11.5-2.4,11.5-5.3\
                  C742.7,179.5,743.3,157.9,743.3,157.9z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_394_.st3(d='M734.4,157.9l-1,27.3c5.3-0.5,9.3-2.6,9.3-5.2c0-0.4,0.6-22.1,0.6-22.1H734.4z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_393_.st4(d='M773.5,144c0,12.6-18,22.8-40.2,22.8s-40.2-10.2-40.2-22.8s40.2-44.7,40.2-44.7\
                  S773.5,131.4,773.5,144z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_392_.st5(d='M733.4,99.2c0,0-0.1,0.1-0.3,0.2c6,6.9,29.8,35.1,27,46c-3.1,11.9-21.7,20.2-42.4,19.4\
                  c4.8,1.2,10.2,1.8,15.7,1.8c22.2,0,40.2-10.2,40.2-22.8C773.5,131.4,733.4,99.2,733.4,99.2z')
                | &#x9;&#x9;
                g#tree_41_
                  path#XMLID_568_.st2(d='M163,374.1h-26.4l0.2,52.6c0,0.1,0,0.2,0,0.3c0,7,5.7,12.7,12.8,12.7s12.8-5.7,12.8-12.7\
                  C162.3,426,163,374.1,163,374.1z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_567_.st3(d='M153.1,374.1l-1.1,65.5c5.9-1.1,10.3-6.3,10.3-12.5c0-1.1,0.7-53,0.7-53H153.1z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_566_.st4(d='M196.5,340.7c0,30.2-19.9,54.7-44.5,54.7s-44.5-24.5-44.5-54.7S152,233.4,152,233.4\
                  S196.5,310.5,196.5,340.7z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_143_.st5(d='M152,233.4c0,0-0.1,0.2-0.3,0.6c6.6,16.5,33,84.3,29.9,110.4c-3.4,28.4-24.1,48.5-47,46.6\
                  c5.4,2.8,11.3,4.4,17.4,4.4c24.6,0,44.5-24.5,44.5-54.7C196.5,310.5,152,233.4,152,233.4z')
                | &#x9;&#x9;
                g#tree_4_
                  path#XMLID_478_.st2(d='M1070,142.3h-26.4l0.2,52.6c0,0.1,0,0.2,0,0.3c0,7,5.7,12.7,12.8,12.7\
                  c7.1,0,12.8-5.7,12.8-12.7C1069.3,194.2,1070,142.3,1070,142.3z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_477_.st3(d='M1060.1,142.3l-1.1,65.5c5.9-1.1,10.3-6.3,10.3-12.5c0-1.1,0.7-53,0.7-53H1060.1z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_476_.st4(d='M1103.5,108.8c0,30.2-19.9,54.7-44.5,54.7c-24.6,0-44.5-24.5-44.5-54.7S1059,1.6,1059,1.6\
                  S1103.5,78.7,1103.5,108.8z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_132_.st5(d='M1059,1.6c0,0-0.1,0.2-0.3,0.6c6.6,16.5,33,84.3,29.9,110.4c-3.4,28.4-24.1,48.5-47,46.6\
                  c5.4,2.8,11.3,4.4,17.4,4.4c24.6,0,44.5-24.5,44.5-54.7C1103.5,78.7,1059,1.6,1059,1.6z')
                | &#x9;&#x9;
                g#XMLID_116_
                  g#tree_33_
                    path#XMLID_211_.st2(d='M529.9,455.4h-19.2l0.1,38.3c0,0.1,0,0.2,0,0.3c0,5.1,4.2,9.3,9.3,9.3s9.3-4.2,9.3-9.3\
                    C529.4,493.2,529.9,455.4,529.9,455.4z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_210_.st3(d='M522.7,455.4l-0.8,47.7c4.3-0.8,7.5-4.6,7.5-9.1c0-0.8,0.5-38.6,0.5-38.6H522.7z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_127_.st4(d='M554.3,431.1c0,22-14.5,39.8-32.4,39.8c-17.9,0-32.4-17.8-32.4-39.8s32.4-78.1,32.4-78.1\
                    S554.3,409.1,554.3,431.1z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_126_.st5(d='M521.9,353c0,0-0.1,0.2-0.2,0.4c4.8,12,24,61.3,21.8,80.4c-2.5,20.7-17.5,35.3-34.2,33.9\
                    c3.9,2,8.2,3.2,12.7,3.2c17.9,0,32.4-17.8,32.4-39.8C554.3,409.1,521.9,353,521.9,353z')
                  | &#x9;&#x9;&#x9;
                  g#XMLID_117_
                    path#XMLID_125_.st1(d='M479.8,517.6l12.2,18.2l24-24.5c0.1-0.1,0.1-0.1,0.2-0.1c3.2-3.3,3.2-9.9-0.1-14.7\
                    s-8.5-6.2-11.8-2.9C503.8,494,479.8,517.6,479.8,517.6z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_123_.st1(d='M484.4,524.4l30.4-29.6c-3.3-3.5-7.7-4.2-10.5-1.3c-0.5,0.5-24.5,24.1-24.5,24.1L484.4,524.4\
                    z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_121_.st1(d='M449,509.9c13.8-14,34.2-11.6,45.6,5.4c11.4,16.9,9.4,42-4.4,56c-13.8,14-69.7,19-69.7,19\
                    S435.2,523.9,449,509.9z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_119_.st1(d='M420.5,590.3c0,0,0.2,0,0.4,0c4.5-12.2,23.2-61.8,36.6-71.8c14.6-10.8,33.3-5.9,43.1,10.8\
                    c-1.2-5-3.2-9.8-6.1-14c-11.4-16.9-31.8-19.3-45.6-5.4C435.2,523.9,420.5,590.3,420.5,590.3z')
                | &#x9;&#x9;
                g#tree_44_
                  path#XMLID_614_.st2(d='M582,502.8h-19.2l0.1,38.3c0,0.1,0,0.2,0,0.3c0,5.1,4.2,9.3,9.3,9.3s9.3-4.2,9.3-9.3\
                  C581.5,540.6,582,502.8,582,502.8z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_613_.st3(d='M574.8,502.8l-0.8,47.7c4.3-0.8,7.5-4.6,7.5-9.1c0-0.8,0.5-38.6,0.5-38.6H574.8z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_589_.st4(d='M606.4,478.5c0,22-14.5,39.8-32.4,39.8c-17.9,0-32.4-17.8-32.4-39.8s32.4-78.1,32.4-78.1\
                  S606.4,456.5,606.4,478.5z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_588_.st5(d='M574,400.4c0,0-0.1,0.2-0.2,0.4c4.8,12,24,61.3,21.8,80.4c-2.5,20.7-17.5,35.3-34.2,33.9\
                  c3.9,2,8.2,3.2,12.7,3.2c17.9,0,32.4-17.8,32.4-39.8C606.4,456.5,574,400.4,574,400.4z')
                | &#x9;&#x9;
                g#XMLID_213_
                  path#XMLID_587_.st1(d='M484,555.9l27.3,11.8l53.7-15.9c0.1,0,0.3-0.1,0.4-0.1c7.2-2.1,7.1-6.4-0.2-9.6\
                  s-19.1-4-26.3-1.9C537.8,540.6,484,555.9,484,555.9z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_579_.st1(d='M494.2,560.4l68.1-19.2c-7.3-2.3-17.1-2.7-23.5-0.9c-1.1,0.3-54.9,15.7-54.9,15.7L494.2,560.4\
                  z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_578_.st1(d='M415.1,551c30.9-9.1,76.5-7.5,102,3.5c25.5,11,21.1,27.3-9.8,36.4\
                  c-30.9,9.1-155.8,12.4-155.8,12.4S384.2,560.1,415.1,551z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_214_.st1(d='M351.5,603.2c0,0,0.4,0,0.9,0c10-7.9,52-40.2,81.9-46.7c32.6-7,74.5-3.8,96.4,7\
                  c-2.7-3.2-7.2-6.4-13.6-9.1c-25.5-11-71.2-12.6-102-3.5C384.2,560.1,351.5,603.2,351.5,603.2z')
                | &#x9;&#x9;
                g#tree_45_
                  path#XMLID_681_.st2(d='M648.1,522.9h-19.2l0.1,38.3c0,0.1,0,0.2,0,0.3c0,5.1,4.2,9.3,9.3,9.3s9.3-4.2,9.3-9.3\
                  C647.6,560.6,648.1,522.9,648.1,522.9z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_680_.st3(d='M640.9,522.9l-0.8,47.7c4.3-0.8,7.5-4.6,7.5-9.1c0-0.8,0.5-38.6,0.5-38.6H640.9z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_679_.st4(d='M672.5,498.5c0,22-14.5,39.8-32.4,39.8s-32.4-17.8-32.4-39.8c0-22,32.4-78.1,32.4-78.1\
                  S672.5,476.6,672.5,498.5z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_678_.st5(d='M640.1,420.4c0,0-0.1,0.2-0.2,0.4c4.8,12,24,61.3,21.8,80.4c-2.5,20.7-17.5,35.3-34.2,33.9\
                  c3.9,2,8.2,3.2,12.7,3.2c17.9,0,32.4-17.8,32.4-39.8C672.5,476.6,640.1,420.4,640.1,420.4z')
                | &#x9;&#x9;
                g#XMLID_673_
                  path#XMLID_677_.st1(d='M584.4,569.3l16.5,7.1l32.4-9.6c0.1,0,0.2,0,0.2-0.1c4.3-1.3,4.3-3.9-0.1-5.8\
                  c-4.4-1.9-11.5-2.4-15.9-1.1C616.9,560.1,584.4,569.3,584.4,569.3z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_676_.st1(d='M590.6,572l41.1-11.6c-4.4-1.4-10.3-1.6-14.2-0.5c-0.7,0.2-33.1,9.4-33.1,9.4L590.6,572z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_675_.st1(d='M542.9,566.3c18.6-5.5,46.2-4.5,61.5,2.1c15.4,6.6,12.7,16.4-5.9,21.9\
                  c-18.6,5.5-94,7.4-94,7.4S524.3,571.8,542.9,566.3z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_674_.st1(d='M504.5,597.8c0,0,0.2,0,0.6,0c6-4.8,31.3-24.2,49.4-28.1c19.7-4.2,44.9-2.3,58.1,4.2\
                  c-1.6-2-4.3-3.8-8.2-5.5c-15.4-6.6-42.9-7.6-61.5-2.1C524.3,571.8,504.5,597.8,504.5,597.8z')
                | &#x9;&#x9;
                g#tree_49_
                  path#XMLID_691_.st2(d='M490.1,479.2H466l0.1,42.8c0,0.1,0,0.2,0,0.3c0,5.7,5.2,10.4,11.7,10.4\
                  c6.5,0,11.7-4.6,11.7-10.4C489.5,521.4,490.1,479.2,490.1,479.2z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_690_.st3(d='M481.1,479.2l-1,53.2c5.4-0.9,9.4-5.1,9.4-10.2c0-0.9,0.6-43.1,0.6-43.1H481.1z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_689_.st4(d='M520.8,452.1c0,24.6-18.2,44.5-40.8,44.5c-22.5,0-40.8-19.9-40.8-44.5\
                  c0-24.6,40.8-87.3,40.8-87.3S520.8,427.5,520.8,452.1z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_688_.st5(d='M480.1,364.8c0,0-0.1,0.2-0.3,0.5c6.1,13.4,30.2,68.5,27.4,89.8c-3.1,23.1-22,39.4-43,37.9\
                  c4.9,2.3,10.3,3.5,16,3.5c22.5,0,40.8-19.9,40.8-44.5C520.8,427.5,480.1,364.8,480.1,364.8z')
                | &#x9;&#x9;
                g#XMLID_683_
                  path#XMLID_687_.st1(d='M418.4,541.2l17.3,14.1l34-19c0.1,0,0.2-0.1,0.2-0.1c4.6-2.5,4.5-7.7-0.1-11.4\
                  c-4.6-3.8-12.1-4.8-16.6-2.3C452.4,522.9,418.4,541.2,418.4,541.2z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_686_.st1(d='M424.9,546.5l43.1-23c-4.6-2.7-10.8-3.3-14.9-1c-0.7,0.4-34.7,18.7-34.7,18.7L424.9,546.5z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_685_.st1(d='M374.8,535.3c19.5-10.9,48.5-9,64.6,4.2c16.1,13.2,13.4,32.7-6.2,43.5\
                  c-19.5,10.9-98.6,14.8-98.6,14.8S355.2,546.1,374.8,535.3z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_684_.st1(d='M334.5,597.8c0,0,0.2,0,0.6,0c6.3-9.5,32.9-48.1,51.9-55.8c20.6-8.4,47.2-4.6,61,8.4\
                  c-1.7-3.9-4.6-7.6-8.6-10.9c-16.1-13.2-45-15-64.6-4.2C355.2,546.1,334.5,597.8,334.5,597.8z')
                | &#x9;&#x9;
                g#tree_50_
                  path#XMLID_701_.st2(d='M428.7,530.5h-19.2l0.1,38.3c0,0.1,0,0.2,0,0.3c0,5.1,4.2,9.3,9.3,9.3s9.3-4.2,9.3-9.3\
                  C428.2,568.3,428.7,530.5,428.7,530.5z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_700_.st3(d='M421.5,530.5l-0.8,47.7c4.3-0.8,7.5-4.6,7.5-9.1c0-0.8,0.5-38.6,0.5-38.6H421.5z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_699_.st4(d='M453.1,506.2c0,22-14.5,39.8-32.4,39.8s-32.4-17.8-32.4-39.8s32.4-78.1,32.4-78.1\
                  S453.1,484.2,453.1,506.2z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_698_.st5(d='M420.7,428.1c0,0-0.1,0.2-0.2,0.4c4.8,12,24,61.3,21.8,80.4c-2.5,20.7-17.5,35.3-34.2,33.9\
                  c3.9,2,8.2,3.2,12.7,3.2c17.9,0,32.4-17.8,32.4-39.8C453.1,484.2,420.7,428.1,420.7,428.1z')
                | &#x9;&#x9;
                g#XMLID_693_
                  path#XMLID_697_.st1(d='M361,575.5l17.8,6.1l34.9-8.2c0.1,0,0.2,0,0.3,0c4.7-1.1,4.6-3.3-0.1-5\
                  c-4.8-1.6-12.4-2.1-17.1-1C396,567.6,361,575.5,361,575.5z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_696_.st1(d='M367.6,577.8l44.3-10c-4.7-1.2-11.2-1.4-15.3-0.4c-0.7,0.2-35.7,8.1-35.7,8.1L367.6,577.8z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_695_.st1(d='M316.1,573c20.1-4.7,49.8-3.9,66.4,1.8c16.6,5.7,13.7,14.2-6.4,18.9\
                  c-20.1,4.7-101.4,6.4-101.4,6.4S296,577.7,316.1,573z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_694_.st1(d='M274.7,600c0,0,0.2,0,0.6,0c6.5-4.1,33.8-20.8,53.3-24.2c21.2-3.7,48.5-2,62.7,3.6\
                  c-1.7-1.7-4.7-3.3-8.9-4.7c-16.6-5.7-46.3-6.5-66.4-1.8C296,577.7,274.7,600,274.7,600z')
                | &#x9;&#x9;
                g#tree_51_
                  path#XMLID_692_.st2(d='M541.8,538.5h-24.1l0.1,42.8c0,0.1,0,0.2,0,0.3c0,5.7,5.2,10.4,11.7,10.4\
                  c6.5,0,11.7-4.6,11.7-10.4C541.2,580.7,541.8,538.5,541.8,538.5z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_682_.st3(d='M532.7,538.5l-1,53.2c5.4-0.9,9.4-5.1,9.4-10.2c0-0.9,0.6-43.1,0.6-43.1H532.7z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_672_.st4(d='M572.5,511.4c0,24.6-18.2,44.5-40.8,44.5S491,535.9,491,511.4c0-24.6,40.8-87.3,40.8-87.3\
                  S572.5,486.8,572.5,511.4z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_212_.st5(d='M531.7,424.1c0,0-0.1,0.2-0.3,0.5c6.1,13.4,30.2,68.5,27.4,89.8c-3.1,23.1-22,39.4-43,37.9\
                  c4.9,2.3,10.3,3.5,16,3.5c22.5,0,40.8-19.9,40.8-44.5C572.5,486.8,531.7,424.1,531.7,424.1z')
                | &#x9;&#x9;
                g#tree_52_
                  path#XMLID_705_.st2(d='M358.8,554.1h-24.2l0.1,32c0,0.1,0,0.1,0,0.2c0,4.3,5.2,7.8,11.7,7.8s11.7-3.5,11.7-7.8\
                  C358.2,585.7,358.8,554.1,358.8,554.1z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_704_.st3(d='M349.7,554.1l-1,39.8c5.4-0.7,9.4-3.8,9.4-7.6c0-0.7,0.6-32.2,0.6-32.2H349.7z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_703_.st4(d='M389.5,533.8c0,18.4-18.2,33.3-40.8,33.3c-22.5,0-40.8-14.9-40.8-33.3\
                  c0-18.4,40.8-65.3,40.8-65.3S389.5,515.4,389.5,533.8z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_702_.st5(d='M348.7,468.5c0,0-0.1,0.1-0.3,0.4c6.1,10,30.2,51.3,27.4,67.2c-3.1,17.3-22,29.5-43,28.3\
                  c4.9,1.7,10.3,2.7,16,2.7c22.5,0,40.8-14.9,40.8-33.3C389.5,515.4,348.7,468.5,348.7,468.5z')
                | &#x9;&#x9;
                g#XMLID_115_
                  path#XMLID_472_.st1(d='M445.3,555.4c8.2-6.5,21.4-3.2,29.6,7.4c8.1,10.6,8.1,24.6-0.1,31.1s-40.9,1.6-40.9,1.6\
                  S437.1,561.9,445.3,555.4z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_450_.st4(d='M498.2,562.6c0,10.6-11.6,19.2-26,19.2c-14.4,0-26-8.6-26-19.2c0-10.6,26-33.9,26-33.9\
                  S498.2,552,498.2,562.6z')
                  | &#x9;&#x9;&#x9;
                  g#XMLID_447_
                    path#XMLID_449_.st5(d='M474.7,531.1c2,4,15.4,31.5,11.9,40.7c-2,5.2-6.7,8.6-12.7,10c13.6-0.7,24.3-9,24.3-19.2\
                    C498.2,554,481.3,537.2,474.7,531.1z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_448_.st5(d='M474.2,530.6c-1.3-1.2-2.1-1.9-2.1-1.9s-2.1,1.9-5.1,4.8\
                    C470.9,531.9,473.6,530.8,474.2,530.6z')
                | &#x9;&#x9;
                g#tree_9_
                  path#XMLID_187_.st2(d='M964.4,296.2H949l0.1,30.7c0,0.1,0,0.1,0,0.2c0,4.1,3.3,7.4,7.5,7.4c4.1,0,7.5-3.3,7.5-7.4\
                  C964,326.5,964.4,296.2,964.4,296.2z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_186_.st3(d='M958.6,296.2l-0.6,38.2c3.4-0.7,6-3.7,6-7.3c0-0.6,0.4-30.9,0.4-30.9L958.6,296.2L958.6,296.2\
                  z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_185_.st4(d='M983.9,276.7c0,17.6-11.6,31.9-26,31.9s-26-14.3-26-31.9s26-62.6,26-62.6\
                  S983.9,259.1,983.9,276.7z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_184_.st5(d='M958,214.2c0,0-0.1,0.1-0.2,0.3c3.9,9.6,19.3,49.1,17.4,64.4c-2,16.6-14,28.3-27.4,27.2\
                  c3.1,1.6,6.6,2.5,10.2,2.5c14.3,0,26-14.3,26-31.9C983.9,259.1,958,214.2,958,214.2z')
                | &#x9;&#x9;
                g#tree_12_
                  path#XMLID_225_.st2(d='M1156,443h-15.4l0.1,30.7c0,0.1,0,0.1,0,0.2c0,4.1,3.3,7.4,7.5,7.4s7.5-3.3,7.5-7.4\
                  C1155.6,473.2,1156,443,1156,443z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_224_.st3(d='M1150.2,443l-0.6,38.2c3.4-0.7,6-3.7,6-7.3c0-0.6,0.4-30.9,0.4-30.9L1150.2,443L1150.2,443z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_223_.st4(d='M1175.5,423.5c0,17.6-11.6,31.9-26,31.9s-26-14.3-26-31.9s26-62.6,26-62.6\
                  S1175.5,405.9,1175.5,423.5z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_222_.st5(d='M1149.6,361c0,0-0.1,0.1-0.2,0.3c3.9,9.6,19.3,49.1,17.4,64.4c-2,16.6-14,28.3-27.4,27.2\
                  c3.1,1.6,6.6,2.5,10.2,2.5c14.3,0,26-14.3,26-31.9C1175.5,405.9,1149.6,361,1149.6,361z')
                | &#x9;&#x9;
                g#XMLID_502_
                  path#XMLID_507_.st1(d='M1102.3,521c13.5-10.7,35.2-5.3,48.5,12.2c13.4,17.4,13.3,40.3-0.2,51\
                  c-13.5,10.7-67.1,2.6-67.1,2.6S1088.9,531.7,1102.3,521z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_506_.st4(d='M1189.2,532.8c0,17.4-19.1,31.5-42.7,31.5c-23.6,0-42.7-14.1-42.7-31.5\
                  c0-17.4,42.7-55.6,42.7-55.6S1189.2,515.4,1189.2,532.8z')
                  | &#x9;&#x9;&#x9;
                  g#XMLID_503_
                    path#XMLID_505_.st5(d='M1150.7,481.1c3.3,6.6,25.3,51.7,19.5,66.7c-3.2,8.5-11.1,14.2-20.9,16.4\
                    c22.3-1.1,39.9-14.7,39.9-31.4C1189.2,518.7,1161.4,491.2,1150.7,481.1z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_504_.st5(d='M1149.9,480.3c-2.1-1.9-3.4-3.1-3.4-3.1s-3.4,3.1-8.3,7.8\
                    C1144.4,482.4,1148.8,480.7,1149.9,480.3z')
                | &#x9;&#x9;
                g#XMLID_411_
                  path#XMLID_416_.st1(d='M1059.3,573.3c5.2-3.9,13.7-1.9,18.9,4.5c5.2,6.4,5.2,14.7-0.1,18.6s-26.1,1-26.1,1\
                  S1054.1,577.2,1059.3,573.3z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_415_.st4(d='M1093.1,577.6c0,6.4-7.4,11.5-16.6,11.5s-16.6-5.2-16.6-11.5c0-6.4,16.6-20.3,16.6-20.3\
                  S1093.1,571.2,1093.1,577.6z')
                  | &#x9;&#x9;&#x9;
                  g#XMLID_412_
                    path#XMLID_414_.st5(d='M1078.1,558.7c1.3,2.4,9.8,18.9,7.6,24.4c-1.3,3.1-4.3,5.2-8.1,6c8.6-0.4,15.5-5.4,15.5-11.5\
                    C1093.1,572.4,1082.3,562.4,1078.1,558.7z')
                    | &#x9;&#x9;&#x9;&#x9;
                    path#XMLID_413_.st5(d='M1077.8,558.4c-0.8-0.7-1.3-1.1-1.3-1.1s-1.3,1.1-3.2,2.9\
                    C1075.7,559.2,1077.4,558.6,1077.8,558.4z')
                | &#x9;&#x9;
                g#XMLID_110_
                  path#XMLID_114_.st1(d='M74,443.4l8.3,9l16.4-12.2c0,0,0.1,0,0.1-0.1c2.2-1.6,2.2-4.9-0.1-7.3c-2.2-2.4-5.8-3.1-8-1.4\
                  C90.4,431.7,74,443.4,74,443.4z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_113_.st1(d='M77.2,446.8l20.8-14.7c-2.2-1.7-5.2-2.1-7.2-0.7c-0.3,0.2-16.7,11.9-16.7,11.9L77.2,446.8z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_112_.st1(d='M53,439.6c9.4-6.9,23.3-5.7,31.1,2.7s6.4,20.8-3,27.8s-47.5,9.4-47.5,9.4S43.6,446.5,53,439.6\
                  z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_111_.st1(d='M33.6,479.5c0,0,0.1,0,0.3,0c3-6,15.8-30.7,25-35.6c9.9-5.4,22.7-2.9,29.4,5.4\
                  c-0.8-2.5-2.2-4.9-4.2-7c-7.8-8.4-21.7-9.6-31.1-2.7C43.6,446.5,33.6,479.5,33.6,479.5z')
                | &#x9;&#x9;
                g#tree_3_
                  path#XMLID_68_.st2(d='M108.3,408.6l-13.1,0.5l0.8,19c0,0,0,0.1,0,0.1c0.1,2.5,3,4.5,6.5,4.4c3.5-0.1,6.3-2.3,6.2-4.8\
                  C108.7,427.4,108.3,408.6,108.3,408.6z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_67_.st3(d='M103.4,408.8l0.3,23.6c2.9-0.5,5-2.5,4.9-4.7c0-0.4-0.4-19.1-0.4-19.1L103.4,408.8L103.4,408.8\
                  z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_66_.st4(d='M124.5,395.9c0.4,10.9-9.1,20.1-21.3,20.6c-12.2,0.5-22.4-8-22.8-18.9\
                  c-0.4-10.9,20.6-39.5,20.6-39.5S124.1,385.1,124.5,395.9z')
                  | &#x9;&#x9;&#x9;
                  path#XMLID_65_.st5(d='M101,358.1c0,0-0.1,0.1-0.2,0.2c3.5,5.8,17.5,29.8,16.3,39.3c-1.3,10.3-11.3,17.9-22.7,17.7\
                  c2.7,0.9,5.6,1.4,8.7,1.2c12.2-0.5,21.8-9.7,21.3-20.6C124.1,385.1,101,358.1,101,358.1z')
    script(src='http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js')
    script(src='http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='libs/Snap.svg/dist/snap.svg.js')
    script(src='libs/js-cookie/src/js.cookie.js')
    script(src='javascripts/bigmap.js')
