extend layout

block content
  div#collie_container
    div#_collie_container
  pre#editor.
    function foo(items) {
      var i;
      for (i = 0; i < items.length; i++) {
        alert("Ace Rocks " + items[i]);
      }
    }
  p
    button#run.btn.btn-primary.btn-large 运行

  script(src='javascripts/libs/ace/ace.js', type='text/javascript', charset='utf-8')
  script(src='javascripts/libs/collie/collie.min.js', type='text/javascript', charset='utf-8')
  script(src='javascripts/libs/collie/collie.tool.min.js', type='text/javascript', charset='utf-8')
  script(src='javascripts/libs/collie/box2d-web-2.1.a.3.js', type='text/javascript', charset='utf-8')
  script(src='javascripts/libs/collie/collie.Box2d.js', type='text/javascript', charset='utf-8')
  script(src='javascripts/rabbit.js', type='text/javascript', charset='utf-8')

  script.
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.session.setMode("ace/mode/javascript");

  script.
    function fireKeyEvent(el, evtType, keyCode){
    　　var evtObj;

    　　if(document.createEvent){
    　　　　if( window.KeyEvent ) {
    　　　　　　evtObj = document.createEvent('KeyEvents');
    　　　　　　evtObj.initKeyEvent( evtType, true, true, window, false, false, false, false, keyCode, 0 );
    　　　　} else {
    　　　　　　evtObj = document.createEvent('UIEvents');
    　　　　　　evtObj.initUIEvent( evtType, true, true, window, 1 );
    　　　　　　delete evtObj.keyCode;

    　　　　　　if(typeof evtObj.keyCode === "undefined"){
    　　　　　　　　Object.defineProperty(evtObj,"keyCode",{value:keyCode});
    　　　　　　}else{
    　　　　　　　　evtObj.key=String.fromCharCode(keyCode);
    　　　　　　}
    　　　　}
    　　　　el.dispatchEvent(evtObj);

    　　}else if(document.createEventObject){
    　　　　evtObj = document.createEventObject();
    　　　　evtObj.keyCode=keyCode;
    　　　　el.fireEvent('on'+evtType, evtObj);
    　　}
    }

  script.
    var run = $("#run")[0];
    var all;
    function solve(i) {
      if (i >= all.length) return ;
      switch(all[i]) {
        case "left":
          fireKeyEvent(document.body, "keydown", 65);
          setTimeout('fireKeyEvent(document.body, "keyup", 65)', 100);
          break;

        case "right":
          fireKeyEvent(document.body, "keydown", 68);
          setTimeout('fireKeyEvent(document.body, "keyup", 68)', 100);
          break;

        case "top":
          fireKeyEvent(document.body, "keydown", 87);
          break;
      }
      setTimeout('solve('+(i+1)+')', 200);
    }

    run.onclick = function() {
      all = editor.getSession().getDocument().getAllLines();
      solve(0);
    };


  style(type='text/css', media='screen').
    body {
      width: 100%;
      height: 100%;
      background-color: #aaa;
    }
    #editor {
      margin: 0;
      position: relative;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 300px;
    }
