extend layout
block content
  div.row
    div.span5
      pre#editor.
        function foo(items) {
          var i;
          for (i = 0; i < items.length; i++) {
              alert("Ace Rocks " + items[i]);
          }
        }
    div.span5
      h2 Carbo 说
      p
        | 东风破早梅 向暖一枝开 冰雪无人见 春从天上来

  style(type='text/css', media='screen').
    body {
      overflow: hidden;
    }
    #editor {
      top: 0;
      bottom: 0;
      width: 100%;
      height: 500px;
    }
    #tab-content {
      padding: 10px;
      padding-bottom: 20px;
      border: solid #EEDCDC 1px;
      border-radius: 3px;
    }
  script(src='javascripts/libs/ace/ace.js', type='text/javascript', charset='utf-8')
  script.
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.session.setMode("ace/mode/javascript");
