extend layout

block content
    #pageWrapper
      #logoNvideoBox.pageBlocks(style='height: 659px;')
        #homeBox.Small-container
          #logoTxts.item_bottom(style='opacity: 1; bottom: 0px;')
            img(src="images/logo.png")
            h1(style="font-size: 50px") ShadowCats
          p.CzarIs.wow.flipInX.item_bottom(style='opacity: 1; bottom: 0px;') 致力于让中小学生在游戏中学习编程
          .kickBtnWrap.wow.item_bottom(style='opacity: 1; bottom: 0px;')
            a.kickBtn(href='https://www.kickstarter.com/projects/pixelconception/czar-king-of-all-wordpress-themes?utm_source=Official%20Website&utm_medium=Official%20Website&utm_campaign=Official%20Website') 开始使用
        .ScrollIco
          .ScrlIcoBox
            span
          p Scroll To Know More
      | &#x9;
      #zotash-wrap.pageBlocks
        .big-container.item_bottom
          p.CzarIs ShadowCats拥有的功能
          | &#x9;&#x9;&#x9;
          img.wow.swing.center(src='images/ace-logo.png')
          | &#x9;&#x9;&#x9;
          #zootashBoxWrap
            .greenbox.Boxes.wow.slideInLeft.item_left
              span
                img(src='Czar - King Of Wordpress Themes_files/icon-img-1.png')
            | &#x9;&#x9;&#x9;&#x9;
            .Boxes.wow.slideInRight.item_right
              h3 创建个人信息
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | Using Zootash you can create custom contact forms and include them anywhere on the website. The magic happens as soon as your customer fills in these contact forms.
            | &#x9;&#x9;&#x9;&#x9;
            .Boxes.wow.slideInLeft.item_left
              h3 Ace支持的代码编写
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | Zootash creates support tickets for the contact forms filled in and submitted by your customers. This helps to ensure that all customer requests are attended to on time.
            | &#x9;&#x9;&#x9;&#x9;
            .greenbox.Boxes.wow.slideInRight.item_right
              span
                img(src='Czar - King Of Wordpress Themes_files/icon-img-2.png')
            | &#x9;&#x9;&#x9;&#x9;
            .greenbox.Boxes.wow.slideInLeft.item_left
              span
                img(src='Czar - King Of Wordpress Themes_files/icon-img-3.png')
            | &#x9;&#x9;&#x9;&#x9;
            .Boxes.wow.slideInRight.item_right
              h3 同步服务器
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | Do you have a lot of requests coming in through website? Don&rsquo;t worry with Zootash and Czar combined, you can create multiple agents to attend to these clients requests.
            | &#x9;&#x9;&#x9;&#x9;
            .Boxes.wow.slideInLeft.item_left
              h3 多用户登陆
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | Zootash lets to create multiple support departments such as Accounts, Marketing, Support and so on. You can assign tickets to agents based on the support department selected by your customer while filling the form.
            | &#x9;&#x9;&#x9;&#x9;
            .greenbox.Boxes.wow.slideInRight.item_right
              span
                img(src='Czar - King Of Wordpress Themes_files/icon-img-4.png')
            | &#x9;&#x9;&#x9;&#x9;
            .greenbox.Boxes.wow.slideInLeft.item_left
              span
                img(src='Czar - King Of Wordpress Themes_files/icon-img-5.png')
            | &#x9;&#x9;&#x9;&#x9;
            .Boxes.wow.slideInRight.item_right
              h3 游戏代码提示
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | Zootash creates message threads of the entire communication between the customer as well as the agents. This means the entire information remains in one ticket.
          | &#x9;&#x9;&#x9;
      | &#x9;
      #plugins-wrap.pageBlocks
        .container
          p.CzarIs.wow.bounceInUp.item_bottom
            | ShadowCats拥有更多的细节处理
          | &#x9;&#x9;&#x9;
          #pluginBoxesWrap
            .col-md-4.pluginBoxes.wow.slideInLeft.item_fade
              img(src='Czar - King Of Wordpress Themes_files/plugin-icon-1.png')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              h3 404 页面
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | This plugin lets you create Custom 404 pages for your wordpress website. Use the built in elements, shortcodes and more to create your own customised layouts for 404 page.
            | &#x9;&#x9;&#x9;&#x9;
            .col-md-4.pluginBoxes.wow.bounceInUp.item_fade
              img(src='Czar - King Of Wordpress Themes_files/plugin-icon-2.png')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              h3 更多的章节
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | Need a Coming Soon landing page while you create your website? With Czar you don&rsquo;t need to buy any additional plugin to create your coming soon landing pages.
            | &#x9;&#x9;&#x9;&#x9;
            .col-md-4.pluginBoxes.wow.slideInRight.item_fade
              img(src='Czar - King Of Wordpress Themes_files/plugin-icon-3.png')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              h3 重力系统
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | With smooth scroll plugin activated you can modify the scroll behavior of the user on the website. This plugin has various options which enhance the experience of the user.
            | &#x9;&#x9;&#x9;&#x9;
            .col-md-4.pluginBoxes.wow.slideInLeft.item_fade
              img(src='Czar - King Of Wordpress Themes_files/plugin-icon-4.png')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              h3 查询问题解答
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | Czar is the only wordpress theme which takes care of everything. It has a built in customer support desk called &ldquo;Zootash&rdquo;. No need for you to spend additional monthly recurring costs on expensive support systems.
            | &#x9;&#x9;&#x9;&#x9;
            .col-md-4.pluginBoxes.wow.bounceInUp.item_fade
              img(src='Czar - King Of Wordpress Themes_files/plugin-icon-5.png')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              h3 管卡完成情况
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | Member Dash takes the customer support experiece to another level. Using this the customer support agents would not have to login to wordpress dashboard, but can manage the tickets through their account on wordpress frontend itself.
            | &#x9;&#x9;&#x9;&#x9;
            .col-md-4.pluginBoxes.wow.slideInRight.item_fade
              img(src='Czar - King Of Wordpress Themes_files/plugin-icon-6.png')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              h3 漂亮的布局
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | Want your users to take that desired action on your website? Sticky Sidebar helps you do just that. You can make various widgets in sidebar sticky and these widgets will remian on user&rsquo;s screen enticing him to take that action.
            | &#x9;&#x9;&#x9;&#x9;
            .col-md-4.pluginBoxes.wow.slideInLeft.item_fade
              img(src='Czar - King Of Wordpress Themes_files/plugin-icon-7.png')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              h3 客户端下载
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | With Czar importing demo content into your theme is super easy. All you have to do is click on the content that you want to import and that&rsquo;s it, you are done!!
            | &#x9;&#x9;&#x9;&#x9;
            .col-md-4.pluginBoxes.wow.slideInUp.item_fade
              img(src='Czar - King Of Wordpress Themes_files/plugin-icon-8.png')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              h3 多屏幕适配
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | Advance Pop Up for Czar lets you create conditional popups based on user behaviour. This is really impactful and helps you get signups and trigger alerts when user is about to leave the website.
            | &#x9;&#x9;&#x9;&#x9;
            .col-md-4.pluginBoxes.wow.slideInRight.item_fade
              img(src='Czar - King Of Wordpress Themes_files/plugin-icon-9.png')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              h3 魔法系统（下个版本）
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | Czar comes with a plugin for automatic updates for the theme. As soon as we release a new update to Czar, the updates are automatically downloaded and applied on your theme. Still prefer manual updates to your theme? No worries,the plugin can be configured to do just that.
          | &#x9;&#x9;&#x9;
      | &#x9;
      #functions-wrap.pageBlocks
        .container
          p.CzarIs.wow.bounceInUp.item_top
            | ShadowCats是您学习代码编写的不二之选
          | &#x9;&#x9;&#x9;
          #pluginBoxesWrap
            ul.checkUL.item_left
              li.wow.slideInLeft(data-wow-delay='0.1s')
                | 多种编程
                br
                | 语言支持
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              li.wow.slideInLeft(data-wow-delay='0.15s')
                | 众多的
                br
                | 巧妙管卡
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              li.wow.slideInLeft(data-wow-delay='0.20s')
                | 人物
                br
                | 形象丰富
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              li.wow.slideInLeft(data-wow-delay='0.25s') 70+ Elementary Building Blocks
            | &#x9;&#x9;&#x9;&#x9;
            #functionsImg.item_bottom
              img(src='Czar - King Of Wordpress Themes_files/function-section-img.png')
            | &#x9;&#x9;&#x9;&#x9;
            ul.checkUL.item_right
              li.wow.slideInRight(data-wow-delay='0.1s')
                | 超多美丽的
                br
                | 控件支持
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              li.wow.slideInRight(data-wow-delay='0.15s') 优秀的美工
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              li.wow.slideInRight(data-wow-delay='0.20s') 强大的服务器
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              li.wow.slideInRight(data-wow-delay='0.25s')
                | 来自清华
                br
                | 世界一流
          | &#x9;&#x9;&#x9;
      | &#x9;
      span.loadIcon
      | &#x9;
      #footer
        .container
          p.LeftP Copyright &copy; 2015 Czar Ltd. All rights reserved.
          | &#x9;&#x9;&#x9;
          p.RightP 29 Market Parade, Havant, Hampshire, United Kingdom, PO9 1PY
    style.
      @media (max-width:768px){
      #slvj-back-lightbox{width:80%; height:400px;}  #slvj-back-lightbox iframe{width:100%; height:100%;}
      }
      @media (max-width:640px){
      #slvj-back-lightbox{height:300px;}
      }
      @media (max-width:480px){
      #slvj-back-lightbox{height:250px;}
      }
