extend layout

block content
    #pageWrapper
      #logoNvideoBox.pageBlocks(style='height: 659px;')
        #homeBox.Small-container
          #logoTxts.item_bottom(style='opacity: 1; bottom: 0px;')
            img(src="images/logo.png")
            h1(style="font-size: 50px") ShadowCats
          p.CzarIs.wow.flipInX.item_bottom(style='opacity: 1; bottom: 0px;') 致力于让中小学生在游戏中学习编程
          .kickBtnWrap.wow.item_bottom(style='opacity: 1; bottom: 0px;')
            a.kickBtn(href='https://www.kickstarter.com/projects/pixelconception/czar-king-of-all-wordpress-themes?utm_source=Official%20Website&utm_medium=Official%20Website&utm_campaign=Official%20Website') 开始使用
        .ScrollIco
          .ScrlIcoBox
            span
          p Scroll To Know More
      | &#x9;
      #zotash-wrap.pageBlocks
        .big-container.item_bottom
          p.CzarIs ShadowCats拥有的功能
          | &#x9;&#x9;&#x9;
          img.wow.swing.center(src='images/ace-logo.png')
          | &#x9;&#x9;&#x9;
          #zootashBoxWrap
            .greenbox.Boxes.wow.slideInLeft.item_left
              span
                img(src='Czar - King Of Wordpress Themes_files/icon-img-1.png')
            | &#x9;&#x9;&#x9;&#x9;
            .Boxes.wow.slideInRight.item_right
              h3 创建个人信息
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | 个性化编辑头像及昵称，实现个人账号管理
            | &#x9;&#x9;&#x9;&#x9;
            .Boxes.wow.slideInLeft.item_left
              h3 Ace支持的代码编写
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | C++基础的可跨平台网络应用程序的程序库套件，支持本平台代码编写
            | &#x9;&#x9;&#x9;&#x9;
            .greenbox.Boxes.wow.slideInRight.item_right
              span
                img(src='Czar - King Of Wordpress Themes_files/icon-img-2.png')
            | &#x9;&#x9;&#x9;&#x9;
            .greenbox.Boxes.wow.slideInLeft.item_left
              span
                img(src='Czar - King Of Wordpress Themes_files/icon-img-3.png')
            | &#x9;&#x9;&#x9;&#x9;
            .Boxes.wow.slideInRight.item_right
              h3 同步服务器
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | 代码成果提交服务器，支持断点开始，更适宜编程学习的连续性
            | &#x9;&#x9;&#x9;&#x9;
            .Boxes.wow.slideInLeft.item_left
              h3 多用户登陆
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | 支持多用户登陆，可以和朋友共同体会编程学习的乐趣
            | &#x9;&#x9;&#x9;&#x9;
            .greenbox.Boxes.wow.slideInRight.item_right
              span
                img(src='Czar - King Of Wordpress Themes_files/icon-img-4.png')
            | &#x9;&#x9;&#x9;&#x9;
            .greenbox.Boxes.wow.slideInLeft.item_left
              span
                img(src='Czar - King Of Wordpress Themes_files/icon-img-5.png')
            | &#x9;&#x9;&#x9;&#x9;
            .Boxes.wow.slideInRight.item_right
              h3 游戏代码提示
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | 提供简明易懂的游戏代码提示，在循序渐进的剧情中实现代码能力的进步
          | &#x9;&#x9;&#x9;
      | &#x9;
      #plugins-wrap.pageBlocks
        .container
          p.CzarIs.wow.bounceInUp.item_bottom
            | ShadowCats拥有更多的细节处理
          | &#x9;&#x9;&#x9;
          #pluginBoxesWrap
            .col-md-4.pluginBoxes.wow.slideInLeft.item_fade
              img(src='Czar - King Of Wordpress Themes_files/plugin-icon-1.png')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              h3 404 页面
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | 无空缺页面，内容丰富，可以激起青少年编程学习的自信心和兴趣。
            | &#x9;&#x9;&#x9;&#x9;
            .col-md-4.pluginBoxes.wow.bounceInUp.item_fade
              img(src='Czar - King Of Wordpress Themes_files/plugin-icon-2.png')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              h3 更多的章节
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | 小地图内容丰富，兼具故事性。
            | &#x9;&#x9;&#x9;&#x9;
            .col-md-4.pluginBoxes.wow.slideInRight.item_fade
              img(src='Czar - King Of Wordpress Themes_files/plugin-icon-3.png')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              h3 重力系统
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | 小猫咪的移动计算加入重力系统支持，更合理科学，游戏性强。
            | &#x9;&#x9;&#x9;&#x9;
            .col-md-4.pluginBoxes.wow.slideInLeft.item_fade
              img(src='Czar - King Of Wordpress Themes_files/plugin-icon-4.png')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              h3 查询问题解答
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | 游戏中遇到困难？轻点屏幕右下方的游戏小助手，小助手会给你清晰地思路帮助你通过关卡！
            | &#x9;&#x9;&#x9;&#x9;
            .col-md-4.pluginBoxes.wow.bounceInUp.item_fade
              img(src='Czar - King Of Wordpress Themes_files/plugin-icon-5.png')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              h3 关卡完成情况
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | 关卡完成情况实时记录，让你不错过任何一个充满挑战与趣味的关卡！
            | &#x9;&#x9;&#x9;&#x9;
            .col-md-4.pluginBoxes.wow.slideInRight.item_fade
              img(src='Czar - King Of Wordpress Themes_files/plugin-icon-6.png')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              h3 漂亮的布局
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | 颜色搭配柔和，动画效果活泼，适合中小学生学习
            | &#x9;&#x9;&#x9;&#x9;
            .col-md-4.pluginBoxes.wow.slideInLeft.item_fade
              img(src='Czar - King Of Wordpress Themes_files/plugin-icon-7.png')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              h3 客户端下载
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | 提供Mac OS、Linux 32、Linux 64、Windows 32和Windows 64多平台系统的服务，让你跨越平台尽享ShadowCats！
            | &#x9;&#x9;&#x9;&#x9;
            .col-md-4.pluginBoxes.wow.slideInUp.item_fade
              img(src='Czar - King Of Wordpress Themes_files/plugin-icon-8.png')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              h3 多屏幕适配
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | 解决了多屏幕适配的问题，让你无时无刻在任何地方用任何设备都能享受编程的乐趣！
            | &#x9;&#x9;&#x9;&#x9;
            .col-md-4.pluginBoxes.wow.slideInRight.item_fade
              img(src='Czar - King Of Wordpress Themes_files/plugin-icon-9.png')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              h3 魔法系统（下个版本）
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | 我们拟定在下一个版本的ShadowCats中添加魔法系统，主角以及物件将有魔法施放功能，更炫酷的动画，更丰富的剧情等着你！
          | &#x9;&#x9;&#x9;
      | &#x9;
      #functions-wrap.pageBlocks
        .container
          p.CzarIs.wow.bounceInUp.item_top
            | ShadowCats是您学习代码编写的不二之选
          | &#x9;&#x9;&#x9;
          #pluginBoxesWrap
            ul.checkUL.item_left
              li.wow.slideInLeft(data-wow-delay='0.1s')
                | 多种编程
                br
                | 语言支持
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              li.wow.slideInLeft(data-wow-delay='0.15s')
                | 众多的
                br
                | 巧妙管卡
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              li.wow.slideInLeft(data-wow-delay='0.20s')
                | 人物
                br
                | 形象丰富
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              li.wow.slideInLeft(data-wow-delay='0.25s') 完善的语法支持
            | &#x9;&#x9;&#x9;&#x9;
            #functionsImg.item_bottom
              img(src='images/loading_running.gif')
            | &#x9;&#x9;&#x9;&#x9;
            ul.checkUL.item_right
              li.wow.slideInRight(data-wow-delay='0.1s')
                | 超多美丽的
                br
                | 控件支持
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              li.wow.slideInRight(data-wow-delay='0.15s') 优秀的美工
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              li.wow.slideInRight(data-wow-delay='0.20s') 强大的服务器
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              li.wow.slideInRight(data-wow-delay='0.25s')
                | 来自清华
                br
                | 世界一流
          | &#x9;&#x9;&#x9;
      | &#x9;
      span.loadIcon
      | &#x9;
      #footer
        .container
          p.LeftP Copyright &copy; 2015 CLM-Z. All rights reserved.
          | &#x9;&#x9;&#x9;
          p.RightP Tsinghua University, China.
    style.
      @media (max-width:768px){
      #slvj-back-lightbox{width:80%; height:400px;}  #slvj-back-lightbox iframe{width:100%; height:100%;}
      }
      @media (max-width:640px){
      #slvj-back-lightbox{height:300px;}
      }
      @media (max-width:480px){
      #slvj-back-lightbox{height:250px;}
      }
