extend layout

block content
  div.raw-fluid.clearfix
    div.span6.ui-sortable
      svg#svg
    div.span5.ui-sortable
      pre#editor.
        six = (one = 1) + (two = 2) + (three = 3)
        solve.left six
        solve.right two
        list = [1, 2, 3, 4, 5]
        alert num for num in list
        alert num for num in [1..3]

      p
        button#run.btn.btn-primary.btn-large 运行

  script(data-main="javascripts/main.js", src="/libs/requirejs/require.js")

  style(type='text/css', media='screen').
    body {
      width: 100%;
      height: 100%;
      background-color: #aaa;
    }
    #editor {
      margin: 0;
      position: relative;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 500px;
    }
    #svg {
      margin: 0;
      position: relative;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 500px;
    }
