doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title
    link(rel='shortcut icon', href='images/favicon.ico')
    link(rel='bookmark', href='images/favicon.ico')
    // Bootstrap core CSS
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    // Custom styles for this template
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='stylesheets/normalize.css')
    link(rel='stylesheet', type='text/css', href='stylesheets/demo.css')
    link(rel='stylesheet', type='text/css', href='stylesheets/component.css')
    link(rel='stylesheet', type='text/css', href='stylesheets/content.css')
    script(src='http://libs.baidu.com/jquery/2.0.0/jquery.min.js')
    script(src='http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js')
    //link(href='https://www.wasify.com/assets/css/style.css', rel='stylesheet')
  body
    #login.modal.fade.text-center(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog
        .modal-content.background-image(style="background-image : url('../images/background.png')")
          h2(style='font-family:Comic Sans MS;color:#8F8F8F')
            |Log in to ShadowCats
            br
          img.logo(src='/images/favicon.ico', alt='shadowcats')
          br
          br
          form.form-horizontal(role='form', action="/login", method="POST")
            .form-group
              .col-sm-2.col-sm-offset-1
                label.control-label(for="login") 
              .col-sm-6
                input#inputEmail3.form-control(type="email", name="login",placeholder="Email")
            .form-group
              .col-sm-2.col-sm-offset-1
                label.control-label(for="password") 
              .col-sm-6
                input#inputPassword3.form-control(type="password", name="password",placeholder="Password")
            .form-group
              .col-sm-offset-3.col-sm-6
                button.btn.btn-block.btn-info(type='submit', name='commandLogin', value='1') Log in  

    #signup.modal.fade.text-center(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog
        .modal-content.background-image(style="background-image : url('../images/background.png')")
          h2(style='font-family:Comic Sans MS;color:#8F8F8F') Signup Your ShadowCats Account!
          br
          img.logo(src='/images/favicon.ico', alt='shadowcats')
          br
          br
          form.form-horizontal(action='/signup', method='POST', autocomplete='off')
            .form-group
              .col-sm-2.col-sm-offset-1
                label.control-label(for='name',style='font-size:1.5em;color:#F4F4F4') 
              .col-sm-6
                input.form-control(type='text', name='name', placeholder='UserName')
            .form-group
              .col-sm-2.col-sm-offset-1
                label.control-label(for='email',style='font-size:1.5em') 
              .col-sm-6
                input#inputEmail3.form-control(type='email', name='email', placeholder='Your email')
            .form-group
              .col-sm-2.col-sm-offset-1
                label.control-label(for='password',style='font-size:1.5em')
              .col-sm-6
                input#inputPassword3.form-control(type='password', name='password', placeholder='Create a password')
            .form-group
              .col-sm-offset-3.col-sm-6
                button.btn.btn-block.btn-info(type='submit') Create Account!

    nav.navbar.navbar-inverse.navbar-fixed-top.site-navbar
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', datadata-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='./') ShadowCats
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/') 首页
            if email
                li
                    a(href='logout') 登出
                li
                    a(href='usrs') 个人信息

                li
                    a(href='bigmap') 大地图

            else
                li
                    a(href='#',rel='nofollow', data-toggle='modal', data-target='#signup') 注册
                li
                    a(href='#', rel='nofollow', data-toggle='modal', data-target='#login') 登陆
            li.dropdown
              a.dropdown-toggle(data-toggle="dropdown", aria-expanded="false", href="#") 下载
                span.caret
              ul.dropdown-menu(role="menu")
                li
                  a(href='ShadowCats-darwin-x64.zip') Mac OS
                li
                  a(href='ShadowCats-linux-ia32.zip') Linux 32
                li
                  a(href='ShadowCats-linux-x64.zip') Linux 64
                li
                  a(href='ShadowCats-win32-ia32.zip') Windows 32
                li
                  a(href='ShadowCats-win32-x64.zip') Windows 64
            li
              a(href='faq') 常见问题
            li
              a(href='recipes') 使用技巧
        // /.nav-collapse
    // Jumbotron
    script(src='javascripts/modernizr.custom.js')
    script(src='javascripts/classie.js')
    script(src='javascripts/uiMorphingButton_fixed.js')
    script(src='javascripts/uiMorphingButton.js')

    block content
