.section
  .container
    .row
      h1 &#20010;&#20154;&#26723;&#26696;
.section
  .container
    .row
      .col-md-12
        form.form-horizontal(role="form")
          .form-group
            .col-sm-2
              label.control-label(for="inputEmail3") &#29992;&#25143;&#21517;
            .col-sm-5
              input#inputEmail3.form-control(type="email", placeholder="Email")
          .form-group
            .col-sm-2
              label.control-label(for="inputPassword3") &#23494;&#30721;
            .col-sm-5
              input#inputPassword3.form-control(type="password", placeholder="Password")
          .form-group
            .col-sm-2
              label.control-label(for="inputPassword3") &#37038;&#31665;
            .col-sm-5
              input#inputPassword3.form-control(type="password", placeholder="Password")
          .form-group
            .col-sm-2
              label.control-label(for="inputPassword3") &#21333;&#20301;
            .col-sm-5
              input#inputPassword3.form-control(type="password", placeholder="Password")
          .form-group
            .col-sm-2
              label.control-label(for="inputPassword3") &#22791;&#27880;
            .col-sm-5
              input#inputPassword3s'w.form-control(type="password", placeholder="Password")
          .form-group
            .col-sm-offset-2.col-sm-10
              .checkbox
                label
                  input(type="checkbox")
                  | Remember me
          .form-group
            .col-sm-offset-2.col-sm-10
              button.btn.btn-default(type="submit") Sign in
.section
  .container
    .row
      h1 &#20010;&#20154;&#26723;&#26696;
.section
  .container
    .row
      .col-md-12
        form.form-horizontal(role="form")
          .form-group
            .col-sm-2
              label.control-label(for="inputEmail3") &#29992;&#25143;&#21517;
            .col-sm-5
              input#inputEmail3.form-control(type="email", placeholder="Email")
          .form-group
            .col-sm-2
              label.control-label(for="inputPassword3") &#23494;&#30721;
            .col-sm-5
              input#inputPassword3.form-control(type="password", placeholder="Password")
          .form-group
            .col-sm-2
              label.control-label(for="inputPassword3") &#37038;&#31665;
            .col-sm-5
              input#inputPassword3.form-control(type="password", placeholder="Password")
          .form-group
            .col-sm-2
              label.control-label(for="inputPassword3") &#21333;&#20301;
            .col-sm-5
              input#inputPassword3.form-control(type="password", placeholder="Password")
          .form-group
            .col-sm-2
              label.control-label(for="inputPassword3") &#22791;&#27880;
            .col-sm-5
              input#inputPassword3s'w.form-control(type="password", placeholder="Password")
          .form-group
            .col-sm-offset-2.col-sm-10
              .checkbox
                label
                  input(type="checkbox")
                  | Remember me
          .form-group
            .col-sm-offset-2.col-sm-10
              button.btn.btn-default(type="submit") Sign in
